[2022-06-22 17:14] roubkar commented on #1899
Hey @uduse, you can select archived runs with the following query:
`run.archived == True`

[2022-06-23 17:22] alberttorosyan opened #1907 "Allow sampling of sequence in any given range"
## 🚀 Feature

As of version `3.11`, Aim sequential data can be stored in two different ways:
1. Linear.  where tracking step is used as a key/index for the value.
2. Hashed. random deterministic hashing is applied to the tracking step and resulting value is used as a key for step and value

Second option allows to select sample of K elements from sequence of any length by just reading first K keys

[2022-06-25 19:03] we-taper opened #1910 "Aim note tab shows "Something went wrong.""
## 🐛 Bug

After upgrading to Aim 3.11.0 from 3.10.3, the Notes page always shows "Something went wrong.":

<img width="312" alt="image" src="https://user-images.githubusercontent.com/6148706/175787029-ea089b3d-7034-4d1d-a1df-51cd643b33d0.png">

### To reproduce

Install Aim 3.11.0, follow [quick start guide](https://aimstack.readthedocs.io/en/latest/quick_start/setup.html) to setup an aim repo wit

[2022-06-25 20:48] arsengit commented on #1910
Hi @we-taper. Thanks for raising the issue!
Currently looking into this.

[2022-06-25 21:11] arm2arm opened #1911 "Hi , none of the demos are working. with the error: secure connection failed"
greetings from Berlin.

[2022-06-27 07:42] SGevorg commented on #1911
Hi @arm2arm thanks for sharing this.
I just tested and all the demos are opening fine.
Any chance you could share the URLs you have tried to reach?

[2022-06-27 07:48] arm2arm commented on #1911
from my side clicking on any demo here

![Screenshot_20220627-094511.png](https://user-images.githubusercontent.com/2283443/175887303-bb8c5868-f71a-4a02-85b5-625c0987b205.png)

is redirecting to this URL which is turns out non existent  service:

https://play.aimstack.io:10001/metrics?grouping=HQGdK9Xxy35e6sY1CYkCmk1WbWMN2AsCNfJJ3d1RJYLtrVPMoF5UpGiA6CF8bEJnfzRsKpqespf3AEuKSVrhUYvYk9MxzNGA9XZWYUf6p

[2022-06-27 07:53] SGevorg commented on #1911
Strangely, it redirects you to `https` links, instead of `http`:
Those are basic demos deployed on an AWS instance, without much infra around it yet.
Please check them out with http.
http://play.aimstack.io:10004/runs/d9e89aa7875e44b2ba85612a/audios

[2022-06-27 08:02] arm2arm commented on #1911
replacing by hand https to http looks good, i can view the demo.
but the direct demo click always redirecting to https 🤔,
but probably it is an another issue.

[2022-06-27 08:04] arm2arm commented on #1911
btw doesn't matter which Webbrowser is used, always redirecting to https. some new aws policy?

[2022-06-27 15:16] arsengit opened #1914 "Table export functionality isn't working"
## 🐛 Bug

Table export functionality isn't working in Params and Scatter explorers

### To reproduce

Open Params or Scatters explorer and click on the `export` table button

### Expected behavior

After clicking the `export` table button should be download `csv` format file

### Environment

- Aim Version (e.g., 3.10.0)
- Python version (3.10.1)

### Additional context

![image](https://user-imag

[2022-06-27 19:53] #1914 closed

[2022-06-27 19:54] gorarakelyan commented on #1910
@we-taper the issue has been fixed and released with Aim v3.11.1

[2022-06-27 19:55] gorarakelyan commented on #1817
@manuel-delverme the issue has been fixed and released with Aim v3.11.1 ✅

[2022-06-28 08:15] gorarakelyan opened #1918 "Ability to set y-axis scale for line charts on UI"
## 🚀 Feature

Ability to set y-axis range/scale on Metrics Explorer.

### Motivation

When visualizing hundreds of plots it's easy to mistake two similar shapes for the same plots.

For example: `metric_a = [0.1, 0, 0.1]` and `metric_b = [0.9, 0, 0.9]` would initially look the same. Enabling an ability to set y axis range to `[0, 1]` for all the figures would align metrics on the given range and h

[2022-06-28 08:42] arkkln opened #1919 "Aim conda package is out-of-date"
## 🐛 Bug

Currently Aim conda-forge package is on 2.7.4 version. Keep conda-forge package up to date with the latest Aim version.

### Expected behavior

When installing Aim via conda `conda install aim -c conda-forge` the latest stable version should be installed.

[2022-06-28 09:16] gorarakelyan opened #1920 "More readable interface to query runs by date"
## 🚀 Feature

Expose an easier and more readable interface to query runs by date.

### Motivation

Currently runs can be filtered by creation date, which is specified in unix timestamps e.g. `run.creation_time >= 1637438400`. Exposing a more readable interface for querying/filtering runs by date would make search much easer.

### Pitch and Alternatives

1. One option could be adding `hour`, `day`,

[2022-06-28 09:35] gorarakelyan opened #1921 "Sort runs/metrics by metric last value in tables"
## 🚀 Feature

Add ability to sort metrics by a metric last value in tables.

### Pitch

Add new sorting option to order runs by metric values in Explorers. Consider adding other aggregated values like `min`, `max`, `mean` as well.

More context to be shared under the thread.

[2022-06-28 09:47] gorarakelyan opened #1922 "Filtering runs by metric values (e.g. run.loss > 0.001)"
## 🚀 Feature

Ability to query runs by metric values via SDK and on Aim UI.

### Pitch

Extend Aim query language to enable accessing metrics aggregated/reduced values like `last`, `min`, `max`, etc.

Example:
`run["loss", {"subset": "train"}].last < 0.001`
`run["loss", {"subset": "train"}].max < 0.01`

More options like steps or epochs count can be exposed as well:
`run["loss", {"subset": "train"

[2022-06-28 10:03] gorarakelyan opened #1923 "Ability to hide a batch of metrics in Metrics Explorer at once"
## 🚀 Feature

Ability to select and hide a group of metrics in Metrics Explorer.

### Motivation

To avoid repetitive and tedious process of hiding metrics one by one, it would be easier to enable hiding a group of metrics at once.

### Pitch

Add one more action `Hide` on the table in Metrics Explorer to hide all the selected metrics at once.

![Screen Shot 2022-06-28 at 13 56 08](https://user-im

[2022-06-28 10:31] gorarakelyan opened #1924 "Crashed or terminated search requests are being saved as the last state on explorers"
## 🐛 Bug

Crashed or terminated search requests are being saved as the last state on explorers.

### To reproduce

1. Run a search query with syntax error on Metrics Explorer
2. Navigate to another page
3. Return to Metrics Explorer
4. The crashed request will be initiated again

### Expected behavior

Do not save crashed or terminated search requests as the last state on explorers.

### Environme

[2022-06-28 12:02] we-taper commented on #1910
Thanks! Confirmed that it has been fixed.

[2022-06-28 16:09] kage08 opened #1925 "Pytorch track_gradients_dists errors out if some parameters don't have gradients"
## 🐛 Bug

When collecting gradients for each layer weight of a model, the function `get_model_layers` errors out if some model parameters don't have gradients.

### Expected behavior

Ignore weights if grad is None.

### Environment

- Aim Version (e.g., 3.11.1)
- Python version 3.10
- pip version 22.0
- Any OS

[2022-06-30 09:06] KaroMourad opened #1932 "Fill in the “matched runs” sentence with green color in progress bars"
## 🐛 Bug

Progress Bar `matched runs` text color style overriding

### To reproduce

1. Open any Explorer page
2. Do search request
3. Explore Progress bar `matched runs` text color style

### Expected behavior

Expected to have `green` color style on Progress bar `matched runs` text

### Environment

- Aim Version (e.g., 3.11.1)

[2022-06-30 19:39] KaroMourad opened #1937 "Blinks the progress bar when searching runs in Runs Explorer"
## 🐛 Bug

When searching runs renders a table skeleton before rendering the progress bar

### To reproduce

1. open Runs Explorer
2. Search runs
3. Explorer blinking issue

### Expected behavior

Expected to render progress bar when searching runs

### Environment

- Aim Version (e.g., 3.11.1)

[2022-06-30 20:52] hnhnarek opened #1938 "Issue with converting logs from Tensorboard to Aim"
## 🐛 Bug

Trying to convert Tensorboard logs to Aim, with the use of Aim CLI,
but the command `aim convert tensorboard --logdir test_mv/` throws an exception, which seems connected with logged images.
Also seems Aim convert doesn't keep the logged audio files, only pictures. Will be super helpful to be able to move audio too.
[code]

### To reproduce

1. Log images in both Tensor and Image mode in

[2022-07-05 07:23] roubkar commented on #456
The current implementation of table column virtualization has space for improvements.
Now dummy columns are being rendered without any content (no cells are rendered) outside of the viewport, this improves the performance. However, when there are many dummy columns, the UI still freezes on some interactions.

Reopening this issue to implement a better virtualization mechanism to improve UI renderi

[2022-07-05 11:57] #1925 closed

[2022-07-06 17:01] VkoHov opened #1944 "Preserve active line even if it is dropped out of the filtered area"
## 🚀 Feature

Preserve an active line when brushing the axis.

### Motivation

Keep active point even if it's out of brush range to compare brushed area with the selected line easily

### Pitch

Check if there is already an active point and add it to the filtered data list

[2022-07-07 10:56] gorarakelyan opened #1949 "Multiple processes acquire the same lock file"
## 🐛 Bug

Multiple processes acquire the same lock file which can cause race conditions. filelock is platform dependent and does not ensure proper mutex locking.

### To reproduce

Run Aim on BeeGFS.

### Environment

- Aim Version: 3.11
- Platform: BeeGFS

[2022-07-07 13:00] mihran113 commented on #1920
So the proposed solution is:
Add 2 new fields `created_at` and `finalized_at` on `run` objects which will represent run creation and finalization times as python `datetime` objects and  will enable to query runs as following:

1. `run.created_at.day > 5 and run.created_at.month == 2`
2. `run.created_at.strftime("%d/%m/%Y") == "24/12/2021"`
3. `run.finalized_at > datetime(2022, 2, 2)`

Basically an

[2022-07-08 17:15] #1902 closed

[2022-07-08 17:15] #1924 closed

[2022-07-08 17:15] #1932 closed

[2022-07-08 17:15] #1937 closed

[2022-07-08 17:18] gorarakelyan commented on #1817
Please feel free to reopen this issue if the bug appears again

[2022-07-08 17:18] #1817 closed

[2022-07-09 18:13] we-taper opened #1957 "Add epoch to pytorch_lightning adaptor"
## 🚀 Feature

Add `epoch` to aim's `pytorch_lightning` adaptor, whenever it's available.

### Pitch

Often the current epoch number is available as a `metric` from logs sent by `pytorch_lightning`. If we can extract this `epoch` to pass it to Aim's logger, then people can set x axis as epoch in Aim's metric explorer. This helps comparing logged values across different experiments with possibly dif

[2022-07-13 13:08] arsengit opened #1962 "Getting error while trying to display non-syntax error"
## 🐛 Bug

Non-syntax errors don't display properly.

### To reproduce

Request to the wrong endpoint.

### Expected behavior

Display error notification.

### Environment

- Aim Version (e.g., 3.11.2)

[2022-07-13 13:39] mihran113 opened #1964 "Add `duration` property for `aim.Run` objects"
## 🚀 Feature

Add a property to run objects (query-able) that will indicate the duration of runs.

### Motivation

This will allow to query runs that with duration, to filter out crashed/stopped runs.

### Pitch

For the first iteration simple version which will indicate `end_time - creation_time` will be enough.

### Additional context

More complicated version which accounts restarting the runs

[2022-07-13 16:12] ilisparrow opened #1965 "THe docker container doesn't work out of the box"
## 🐛 Bug

Hello,
First of all, thakn you very much for the creazy amount of work put into this.

Currently, it seems like the docker setup fails. I get this message :
`Aborted!

'/opt/aim' is not a valid Aim repository. Do you want to initialize it? [y/N]: `

### To reproduce

docker run -d -p 43800:43800 -v /testFolder:/opt/aim aimstack/aim
### Expected behavior

The container running and listeni

[2022-07-13 17:14] KaroMourad commented on #1918
Added ability to set both x and y axes range manually

[2022-07-14 08:47] gorarakelyan commented on #1965
hey @ilisparrow,
`/testFolder` is the path of the parent directory where `.aim` repo is located, could you please double check if the given path is correct?

[2022-07-14 08:58] gorarakelyan commented on #1965
For example, if you have:
[code]
the volume should be specified as `-v /home/projects/ner-parsing:/opt/aim`

[2022-07-14 09:37] ilisparrow commented on #1965
Hello,
Thank you for the fast reply.
I see what the problem is (I will test it as soon as I have access to a computer).
There needs to be an initialised aim on the host, so in my case :
* Go to /testFolder
* aim unit
* Start the docker pointing at /testFolder

But what if I can't install aim in the host? How can I init it without?

Thanks again!

[2022-07-14 11:01] mihran113 opened #1967 "Improve documentation about SSL support for `aim server` command"
## 📚 Documentation

There's a documentation lack about the SSL support for `aim server` command and the client side configuration for it to work properly.

[2022-07-14 11:08] mihran113 opened #1968 "Long queries progress report is not working as expected"
## 🐛 Bug

When the longer queries don't match any run in the process, progress bar in UI side is not updated, which should be by design, as reports are sent in those cases, but doesn't reach the UI side somehow.

### To reproduce

[code]
Try out this query, the progress won't be shown until the end of the query.

### Expected behavior

Query progress to be updated in some intervals, so there won't

[2022-07-14 20:24] Sharathmk99 opened #1970 "Support for user authentication and project structure to group experiment runs"
## 🚀 Feature

### Motivation

When multiple users using aim remote server it would be nice to have Project structure in place.
Structure,
User -> Project -> Multiple runs

### Pitch

Support user authentication and also user can create multiple project under his workspace. A project can have multiple run.

### Alternatives

### Additional context

I'm open to spend time and contribute for above fe

[2022-07-18 08:32] Pyrestone opened #1971 "Show max instead of last value in runs"
## 🚀 Feature
In the runs explorer, I would like an option to show the max/min achieved value of a metric in the run list instead of only seeing the last value.

Ideally I would also like to sort by those.

### Motivation

I would like to know the best validation set accuracy of all my models without having to check each time series individually.
Ideally, I would also like to be able to sort by thi

[2022-07-18 19:10] YodaEmbedding opened #1972 "remote server repo.query_metrics() raises AttributeError: 'NoneType' object has no attribute 'caches'"
## 🐛 Bug

`Repo.query_metrics` for an aim server repo raises:

[code]

### To reproduce

[code]

Side note: I'm not sure what the difference between `query_metrics` and `query_runs` is.

### Expected behavior

No AttributeError.

### Environment

- Aim Version: 3.11.1
- Python version: 3.8.10
- pip version: 22.0.4
- OS: Linux

[2022-07-18 22:59] mihran113 opened #1975 "Add version check between client and server for remote tracking server"
## 🚀 Feature

Add a mechanism to get the remote server version and compare it with a client version, if not compatible throw an error, so the user can either upgrade the server or if not possible, downgrade the client version to the compatible one.

### Motivation

This would eliminate the errors that are caused by the server version being too old and will save a lot of time wasted on debugging of

[2022-07-19 09:48] BangBOOM opened #1976 "How to delete a run when there is error during the track and before program exit?"
## ❓Question

I write the code like this but when some error occurred I can not use delete_run.

[code]

[2022-07-19 13:15] mihran113 commented on #1976
Hey @BangBOOM! Are there any errors when trying to delete the run?

[2022-07-19 15:32] BangBOOM commented on #1976
Thanks for your response, aim_repo is the path to the file where i saved my experment it's value is `~/aim_repo`
the error message:
[code]

And Yes I've used `os.path.join(aim_repo)`

[2022-07-20 01:23] BangBOOM commented on #1976
Sure, My system info:
[code]
besides I use dvc to start the program with the command `dvc exp run`.

[2022-07-20 17:52] mihran113 opened #1981 "Metrics query request raising errors when cancelled"
## 🐛 Bug

When there is a long query request, after cancellation there are errors raised in the terminal:

[code]
and the worker is busy until the errors are not completed, so any further requests will be stuck in a queue.

### To reproduce
Try some long taking query in metrics page, for example the following:

[code]
Cancel the query after some time.

### Expected behavior

No errors on backend s

[2022-07-20 23:29] KaroMourad opened #1984 "Table sorting icon box overlaps with column box in compact mode"
## 🐛 Bug

Table sorting icon box overlaps with column box in compact mode

### To reproduce

1. set table row height to compact
2. hover over the sorting icon on the table column
3. explore the icon box overlapping

### Expected behavior

Expected to render the sorting icon box in table column box without overlapping

### Environment

- Aim Version (v3.11.2)

[2022-07-21 13:35] mahnerak opened #1985 "Inconsistencies between physical storages"
## 🐛 Bug

SequenceV2Data has access to both metadata and series data trees that are not necessarily based on the same physical storage. For example, sometimes the meta tree may be ahead of series tree resulting in:
[code]
### To reproduce

Too slow filesystem (with high latency) with high logging rate.

### Expected behavior

Being robust to meta and series tree inconsistencies.

### Environment

[2022-07-22 11:15] gorarakelyan opened #1990 "Ability to pin plots to the top in run detail page"
## 🚀 Feature

Enable a way to pin specific metric plots of a given run to the top in run detail page.

### Motivation

When checking a run results, there are some metrics that are looked at first. Instead of scrolling down to find those metrics each time, it would be great to pin them to the top.

### Pitch

Add pin icon on the plots. When clicking on the icon, the selected plot will be pinned to

[2022-07-22 18:42] #456 closed

[2022-07-22 18:42] #1686 closed

[2022-07-22 18:42] #1824 closed

[2022-07-22 18:42] #1877 closed

[2022-07-22 18:42] #1886 closed

[2022-07-22 18:42] #1892 closed

[2022-07-22 18:42] #1918 closed

[2022-07-22 18:42] #1920 closed

[2022-07-22 18:42] #1921 closed

[2022-07-22 18:42] #1923 closed

[2022-07-22 18:42] #1938 closed

[2022-07-22 18:42] #1944 closed

[2022-07-22 18:42] #1962 closed

[2022-07-22 18:42] #1964 closed

[2022-07-22 18:42] #1968 closed

[2022-07-22 18:42] #1975 closed

[2022-07-22 18:42] #1981 closed

[2022-07-22 18:42] #1984 closed

[2022-07-22 18:42] #1985 closed

[2022-07-22 18:42] #1949 closed

[2022-07-22 18:44] gorarakelyan commented on #1972
@YodaEmbedding the issue was fixed and shipped with Aim v3.12.0!

[2022-07-24 23:03] badcode6 opened #1993 "Remove show_all_warnings"
## 🐛 Bug

if you try to install aim through metaseq, it crashes installing this package. Cython says: `ValueError: got unknown compilation option, please remove: show_all_warnings`

### To reproduce

git clone the metaseq repo, cd metaseq, pip3 install . OR just install the gz for aim provided on pypi

### Expected behavior

aim installing normally

### Environment

- Aim Version (e.g., 3.0.1) 3.1

[2022-07-25 05:15] SGevorg commented on #1993
@gorarakelyan @alberttorosyan @mihran113  this looks like a critical issue

[2022-07-25 12:49] Sharathmk99 opened #1994 "Run Params page hangs when you log very big hyper parameters"
## 🐛 Bug

### To reproduce

Tried logging config dict which is very big, like more than 2000 lines of yaml file and file size of 100KB. Run Params screen hangs and takes more than 10secs to scroll.

### Expected behavior

Expect smooth scroll.

### Environment

- Aim Version (e.g., 3.0.1)
- Python version
- pip version
- OS (e.g., Linux)
- Any other relevant information

### Additional context

[2022-07-25 12:50] Sharathmk99 commented on #1994
Just to give some more context, `Run Params` under `Overview` work perfect.

[2022-07-25 12:55] gorarakelyan commented on #1994
@Sharathmk99 we constantly optimize both storage and UI to handle large number of runs, params, metrics, etc. Thanks for raising this issue! Will prioritize it for this week!
@roubkar could you please look into this?

[2022-07-25 13:06] roubkar commented on #1994
Hey @Sharathmk99, looking into this.

[2022-07-25 14:26] Sharathmk99 opened #1995 "Facing issue while converting tensorboard logs to Aim"
## 🐛 Bug

Trying to convert tensorboard event log file to Aim Run, but getting below error,

One more question, do we have a way to sync tensorboard logs real-time, like while training is in-progress parallelly can we sync tensorboard logs? Currently it's cli command to sync once we have tensorboard logs in place.

Many thanks!

[code]
### To reproduce

Log tensorbord event log file

### Expected

[2022-07-25 14:33] mihran113 commented on #1995
Hi @Sharathmk99! Thanks for the report.
Regarding the real time conversion, unfortunately that's not possible currently. Could you describe a little bit your use case? Isn't it possible to directly track with `aim` instead and avoid the conversion?
And regarding the issue, could you please provide an example `tfevent` file? That would help a lot for debugging the issue.

[2022-07-25 14:56] Sharathmk99 commented on #1995
Hi @mihran113 Thank you for the response.
Unfortunately on the short term it's not possible to directly use `aim` as our code base integration with tensorbord is very deep and takes lot of time to directly integrate with `aim`

Our use case, we start the training process in the main thread and Data loaded in multiple thread in parallel. Main process(train) will log the metrics to tensorboard which

[2022-07-25 20:03] roubkar commented on #1142
Hey @gormat, we have released `v3.12.0` where we have introduced a new `run.duration` field,
upgrade aim to use it: `pip install aim --upgrade`.
Now you can filter runs by their duration (e.g. `run.duration < 60 * 10` (10 minutes))

Will this resolve your issue?

[2022-07-25 21:59] Sharathmk99 opened #1997 "Long metric name doesn't look good on UI"
## 🐛 Bug

We have a long metric name which is really long, but UI looks names are overlapping. Possible to handle somehow?

![image](https://user-images.githubusercontent.com/3970340/180880862-36daa2e4-96f2-4903-a7ad-f408611cc427.png)

### To reproduce

Log metrics with long name which is more than 256 char.
### Expected behavior

### Environment

- Aim Version (e.g., 3.0.1)
- Python version
- pip

[2022-07-25 22:01] Sharathmk99 commented on #1995
@mihran113 I was able to fix the issue with code change of how tensors are handled. Do you think I should open PR with the changes which can help others who use tensor to log metrics?

Thanks

[2022-07-25 22:05] Sharathmk99 opened #1998 "Loading metrics takes more time to load around 300 metrics"
## 🐛 Bug

Converted existing tensorboard log which has more than 300 metrics and loading the all 300 odd metrics for a run took more than 4 seconds, I think it will take more time when we compare two run of same size.

![image](https://user-images.githubusercontent.com/3970340/180881711-8ed3ffe6-89d3-4a7b-b956-aaa6ae3aa81e.png)

### To reproduce

Log large number of metrics more than 300

### Expe

[2022-07-25 22:12] Sharathmk99 opened #1999 "Easy way to select all metrics under metrics explorer page"
## 🚀 Feature

When we have many metrics like more than 100, it's really difficult to select metrics one by one. Can we have option "Select All" which helps to select and deselect all metrics at once.

![image](https://user-images.githubusercontent.com/3970340/180882402-7037470f-8546-4544-a2f5-2b7775617b24.png)

When we have long metrics name, it's not readable of which metrics is been selected.

#

[2022-07-25 22:22] Sharathmk99 commented on #1998
One idea to improve speed is to show couple of metrics and paginate and provide search based on metrics name.

[2022-07-26 06:24] roubkar commented on #1997
Hey @Sharathmk99, looking into this and will try to fix it ASAP.

[2022-07-26 06:32] roubkar commented on #1999
Hey @Sharathmk99, thanks for opening this issue, currently we're exploring/designing a new UX for the Query Form which, will keep you updated with the progress, also will try to address the issue with long metric names.

[2022-07-26 07:37] Sharathmk99 commented on #1997
@roubkar Thank you.

[2022-07-26 07:38] Sharathmk99 commented on #1999
@roubkar Thank you. Is there any doc where I can learn about new UX design?

[2022-07-26 09:24] gorarakelyan commented on #1999
@Sharathmk99 here are the prototypes of the new explorer design:

### Prototype 1

https://www.figma.com/proto/rVjgCyGwvgaDZ8kXPyPw2m/PoC_version-1?page-id=0%3A1&node-id=1%3A2018&viewport=489%2C426%2C0.49&scaling=min-zoom&starting-point-node-id=1%3A2018

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/13848158/180972254-01dc9e99-5851-4c6a-9159-c5e4a9db2c2a.png">

### P

[2022-07-26 10:00] gorarakelyan commented on #1998
Thanks for the feedback @Sharathmk99!

I wonder whether:
- it happens often when you need to look at **all the metrics** of the runs?
  - What type of insights you seek?
  - Could it be helpful in terms of comparison of several runs or are you exploring just a single run?

[2022-07-26 10:07] gorarakelyan commented on #1999
@Sharathmk99 btw edit mode might be very helpful here. It enables writing arbitrary python conditions to filter by any property of runs and/or metrics. For example:
- `True` (select all the metrics of all runs)
- `run.hparams.learning_rate < 0.001` (select all the metrics of runs which learning_rate is less than 0.001)
- `metric.name == 'loss'` (select all loss metrics)

To turn on the edit mode,

[2022-07-26 10:21] Sharathmk99 commented on #1998
@gorarakelyan Our user's normally look into some of the charts, but we are not sure which are those.. If we paginate and provide search that should handle this. Open for your suggestions..

Yes we want to compare across runs, I have opened another ticket to easily select all metrics.

[2022-07-26 10:30] mihran113 commented on #1995
@Sharathmk99 would appreciate that a lot. Regarding the real-time convert, I guess setting up a `cron` job, that calls the `convert` command every 5 minutes for example, would do the trick for a short term, would that help you?
I'll check that out myself and will let you know if it works as expected.

[2022-07-27 10:00] roubkar commented on #1998
Hey @Sharathmk99, we're going to implement `load on scroll` functionality here, so the performance will be improved as much as for the paginated version, even more, only metrics visible in the viewport will be loaded depending on your screen size.

[2022-07-27 12:28] VkoHov opened #2005 "Format metrics keys correctly"
## 🐛 Bug

The metric with the name `loss` and the context `subset="train"` and with the name `loss subset="train"` is the same now and gets the same value.

### Expected behavior

Has to have separate keys for both to distinguish.

[2022-07-27 13:26] alberttorosyan opened #2007 "Restrict Run.hash to auto-generated values only"
## Proposed refactoring or deprecation

Do not allow specifying arbitrary string as a `Run.hash`. Currently `Run.hash` values can be any string including characters which are not alphanumeric. This brings some issues with hash value parsing (check this issue for the reference #1810)

### Motivation

Fix all the issues related to special characters in `Run.hash`. Avoid accidental Run creation due t

[2022-07-27 22:47] Sharathmk99 commented on #1998
@roubkar that makes lots of sense. Looking forward to test. Do you plan to add search by metrics name as well?

[2022-07-27 23:47] YodaEmbedding commented on #1972
Related issue:

[code]

Gives:

[code]

[2022-07-28 10:55] mihran113 commented on #1972
hey @YodaEmbedding! Thanks for the report, this one seems to be working fine on my end, could you please provide the version of aim you are using? (both for client and server sides)

[2022-07-28 12:57] roubkar commented on #1998
Hey @Sharathmk99, searching by metrics name seems to be an additional feature request.
Could you open a separate issue for it?

As an alternative, I can suggest that the browser `find` command will be working.

[2022-07-28 18:29] YodaEmbedding commented on #1972
v3.12.0 for both.

Server:
[code]

Client:
[code]

[2022-07-28 19:48] mihran113 commented on #1972
Let me know if I can provide any help. If possible, you also can share some example logs and script, so I can reproduce the case exactly on my side.

[2022-07-29 16:06] mihran113 commented on #1922
The final interface for querying runs by metric values:
[code]

[2022-07-30 23:09] Sharathmk99 opened #2013 "aim converter cli command should accept remote server address while logging tensorboard event files"
## 🚀 Feature

aim converter cli to log tensorboard logs should accept aim remote server repo address. Currently it only supports local path

### Motivation

aim cli converter should accept aim remote server address to log the artifact.

### Pitch

Support tensorboard convert cli command to accept remote server address

### Alternatives

### Additional context

[2022-07-31 08:52] Sharathmk99 commented on #1995
Better to accept new parameter for `Run` class called `sync_tensorboard_dir` to accept tensorboard event log directory and start a separate thread to monitor the file events and sync if any changes. Every subfolder inside the tensorboard event log directory becomes `entity`
What do you think @mihran113 ?

[2022-07-31 08:52] Sharathmk99 commented on #1995
I'll open separate issue to track this request.

[2022-07-31 08:53] Sharathmk99 opened #2015 "Sync tensorboard event log file in real-time"
## 🚀 Feature

### Motivation
Sync tensorboard event log file in real-time

### Pitch
Accept new parameter for Run class called sync_tensorboard_dir to accept tensorboard event log directory and start a separate thread to monitor the file events and sync if any changes. Every subfolder inside the tensorboard event log directory becomes entity

### Alternatives

### Additional context

[2022-07-31 13:48] vishalghor opened #2016 "Lock acquire Fail when training in Phase"
## 🐛 Bug

### To reproduce

### Expected behavior

### Environment

- Aim Version - Latest
- Python version - 3.7.13
- pip version - 20.1.1
- OS- Linux

[2022-08-01 06:36] alberttorosyan commented on #2016
Hi @vishalghor! Thanks for raising the issue.
May I ask you to share some more details? Particularly the following information would be very helpful:
- Error message/stack trace (if available)
- Could you please specify what you mean by this:

Ideally a small code snippet showing how the `aim.Run` is initialized/cleaned-up between phases.

[2022-08-01 06:52] vishalghor commented on #2016
Hi @alberttorosyan ,

Below is the error trace:
` File "/home/vghorpad/upscalers_pytorch/upscalers_pytorch/aim.py", line 36, in __init__
    self.run = Run(repo=log_dir, run_hash=run_hash)
  File "/home/vghorpad/.local/lib/python3.7/site-packages/aim/sdk/run.py", line 283, in __init__
    super().__init__(run_hash, repo=repo, read_only=read_only)
  File "/home/vghorpad/.local/lib/python3.7/site-pa

[2022-08-01 11:27] mihran113 opened #2019 "Building from source fails"
## 🐛 Bug

When trying to install from source, the build fails with a following error:
[code]
### To reproduce

Clone the aim repo, go to the repo directory and install from source with
`pip install -e .`

### Expected behavior

Build to pass without any errors

### Environment

- Aim Version - any
- Python version - any
- pip version - any
- OS (e.g., Linux) - any
- Any other relevant information

[2022-08-01 12:38] mihran113 opened #2021 "Remote heartbeat-watcher resource cleanup fails"
## 🐛 Bug

When remote heartbeat watcher tries to cleanup dead client resources the following exception is thrown:

### To reproduce

Create a remote run, force kill the process to trigger heartbeat watcher to cleanup resources.
[code]
### Expected behavior

`RPCHeartbeatWatcher` class to successfully cleanup dead client resources

### Environment

- Aim Version: 3.12.0
- Python version: 3.6.13
- p

[2022-08-01 13:51] JesseFarebro opened #2022 "Run context manager"
## 🚀 Feature

It would be really nice to have a context manager on Run to cleanup all allocated resources. Something like:
[code]
which would allow for:
[code]

### Motivation

Most objects that need to do some kind of cleanup will provide a context manager-like API. Currently, the Run object doesn't provide this.

[2022-08-01 15:32] gorarakelyan commented on #2022
@JesseFarebro good call!
@mihran113 I remember we had a discussion on this a while ago, were there any blockers? If no, I guess this could be quickly added, right?

[2022-08-01 15:56] mihran113 commented on #2022
@gorarakelyan that was one of the initial thoughts when implementing the 3rd version of `aim`. But we abandoned that idea to  have a more user-friendly interface with resource auto-cleanup.
@JesseFarebro can you please describe your use case a little more?
If the concern is to release the unnecessary resources `run.close()` will do the trick in that case. In any other cases (e. g. exceptions, `ctr

[2022-08-01 16:09] vishalghor commented on #2016
Thank you @alberttorosyan for the information. In my case if I'm executing single phase training I don't see any issues to run back to back runs. But in the two phase training the same run needs to handle both the phases. My first phase training goes for around 150 epochs followed by which I load the saved model and run 50 more epochs with changed learning rate in phase 2. As per my understanding

[2022-08-01 17:25] JesseFarebro commented on #2022
@mihran113 I see. I wasn't aware of auto-cleanup. When the docs didn't suggest using a context manager I was assuming I had to do some kind of cleanup myself. I also misunderstood what `run.close()` is doing.

I'll go ahead and close this, thanks!

[2022-08-01 17:25] #2022 closed

[2022-08-01 17:33] MichalZnalezniak opened #2024 "Installation of aim with pip fails"
## 🐛 Bug

Installation of aim with pip fails `pip3 install aim`

![image](https://user-images.githubusercontent.com/80767000/182208096-a85b53ea-3101-4f0a-9ce6-3d93a69f2d21.png)
![image](https://user-images.githubusercontent.com/80767000/182208186-2c8448ae-b27a-45d3-9498-ed9f9d727db6.png)
![image](https://user-images.githubusercontent.com/80767000/182208227-11f1d9e6-b70c-46ae-afc1-51fe70ba4272.png)

[2022-08-01 17:37] mihran113 commented on #2024
Hey @MichalZnalezniak. Thanks for the report, there is already an open issue for this one:
https://github.com/aimhubio/aim/issues/2019

Anyways there are binary wheels uploaded in `pypi`, in order to avoid an installation from source distribution, can I ask you upgrade your `pip` version?

[2022-08-01 18:03] MichalZnalezniak commented on #2024
@mihran113 Thanks for the quick reply. After the pip upgrade, the problem was resolved. Thanks.

[2022-08-01 18:07] #2024 closed

[2022-08-02 07:28] alberttorosyan opened #2027 "Loosen requirement for grpcio package"
## Proposed refactoring or deprecation

Currently aim requires grpcio==1.42.0 which is quite old (release almost a year ago).

### Motivation
Allow installation of aim with higher versions of grpcio.

[2022-08-02 10:40] #1922 closed

[2022-08-02 10:40] #2019 closed

[2022-08-02 10:40] #2021 closed

[2022-08-02 10:40] #2027 closed

[2022-08-02 10:50] gorarakelyan commented on #1997
@Sharathmk99 the issue has been fixed and released with Aim v3.12.1 🚀

[2022-08-02 11:04] Sharathmk99 commented on #1997
Thank you so much @gorarakelyan!!

[2022-08-02 11:04] #1997 closed

[2022-08-04 13:04] mihran113 commented on #1841
hey @hcw-00!
Just wanted to follow up, if you have been able to reproduce it any other way that can be shared?
I've tried this setup and it seems to be working fine on my end, I was able to connect with multiple clients, and run a pretty long training without any unexpected stopping.

[2022-08-04 13:22] JesseFarebro opened #2031 "Use cibuildwheel for wheel deployment"
## Proposed refactoring or deprecation

Use [cibuildwheel](https://github.com/pypa/cibuildwheel) to build precompiled wheels.

### Motivation

I recently ran into an issue with Aim building wheels that were too new for my use case. This got me to look at the infrastructure Aim is using to build wheels and was surprised it wasn't cibuildwheel. I've had lots of experience with cibuildwheel and it's

[2022-08-04 14:46] gorarakelyan commented on #2031
Sounds awesome @JesseFarebro! Looping in @alberttorosyan @mihran113 and @mahnerak - maintainers of Aim storage/SDK.

[2022-08-04 19:50] mahnerak commented on #2031
@JesseFarebro I'm afraid that the most difficult part will be not building `aimrocks` but managing to build it with its dependencies (including `librocksdb`) to make it possible to `cimport aimrocks` in `aim`.

----

`cibuildwheel` uses `auditwheel` and `delocate` to bundle all the dependencies / required libraries. The approach is similar in both cases:
1. It detects the usage of libraries in ver

[2022-08-05 07:22] gorarakelyan commented on #2031
@mahnerak there are some issues with the current wheels. As the glibc version is high (2.24), some conda tools do not recognize the precompiled wheel. @JesseFarebro had issues with using conda-lock for example. What alternative solutions could help here?

[2022-08-05 14:44] ilisparrow opened #2034 "The metrics explorer doesn't seem to work"
## 🐛 Bug

Hello,
The metric explorer always says no results when I am sure it should, and It doesn't work for any metric. It doesn when I look at metrics in a run.

### To reproduce

Here are a few screenshots to show you what my problem is :
![image](https://user-images.githubusercontent.com/4880273/183093110-93c0a7d0-dd10-480b-8aeb-c5c49b584e73.png)
When I go into a random run in the run explore

[2022-08-05 14:54] roubkar commented on #2034
Hey @ilisparrow, thanks for reporting this, looking into it.
Meanwhile could you please share example logs to help us reproduce this 🙏

[2022-08-05 15:04] ilisparrow commented on #2034
Thanks for the fast reply,
Which logs do you me to share ?
I track floats, integers and Text.

I sometimes get this error  :
[code]

I use firefox if that's helpful

[2022-08-05 15:13] roubkar commented on #2034
Hey @ilisparrow, could you share a minimal code example to reproduce the issue related to not rendering plots in Metrics Explorer?

[2022-08-05 16:01] roubkar commented on #2034
Hey @ilisparrow, we've been able to reproduce the issue related to missing data in the Runs Page table and currently working on the fix.

As for not rendering the plots having a hard time reproducing it, could you try to rerun the `aim up` command and check if the issue is still there, if yes could you please share `.aim` folder (aim logs) so we can quickly debug and resolve the issue.

[2022-08-05 16:07] ilisparrow commented on #2034
While I was trying to make a simpler reproducable version, I woeked as it supposed to but then came back.

I need to force reinstall aim, and reinit the .aim rep

So I run this script as a test and it works when I run it the first time then it doesn't anymore.
[code]

[2022-08-05 16:08] ilisparrow commented on #2034
great ! thanks, for some reason, even when reinstall it and reset the .aim folder, It keeps in cache the old params, why is that ?

[2022-08-05 16:12] roubkar commented on #2034
How did you reset `.aim` folder, have you run `aim init` command?

[2022-08-05 16:19] ilisparrow commented on #2034
So :
reinstall-> aim up : doesn't work
reinstall-> aim init ->1 run -> aim up : doesn't work
rm .aim-> aim init ->1 run -> aim up : doesn't work

So I can't figure out how does the bug happen.
Here is the .aim folder :
[aim.zip](https://github.com/aimhubio/aim/files/9270223/aim.zip)

[2022-08-05 16:20] ilisparrow commented on #2034
I deleted it and just did aim init.

For some reason I feel like this bug is related to the fact that I still get the chips of the old params when I delete the folder and init it again

[2022-08-05 16:22] ilisparrow commented on #2034
Aha !
 reinstall-> rm .aim ->aim init ->1 run -> aim up :  works

[2022-08-05 16:28] ilisparrow opened #2036 "Stop a run and force delete"
## 🚀 Feature

Have button to stop a run, and be able to force delete one.

### Motivation

Sometimes I have to force quit my script and aim keeps thinking that the run is going even though it is not. this leads to a clutered run page (I archive theml, but then it still searches in them and slows the search down)

I moght understand that this is hard to setup.
Thank you very much !

[2022-08-05 16:31] ilisparrow opened #2037 "A button to get an overview of the average value of a metric instead of the last"
## 🚀 Feature

I would be nice if for a column we could choose to get the average of the values of that metric instead of the last one.

### Motivation

For exemple, you validate a model but instead of looking at the last value, you look at average ones to be able to comapre them from the run screen

### Pitch

clic on the column and change last to average or median, and it would be taken into acco

[2022-08-05 16:34] ilisparrow commented on #2037
this is a similar request

[2022-08-05 16:34] #2037 closed

[2022-08-05 16:39] mihran113 commented on #2034
hey @ilisparrow. I was able to use metrics explorer successfully on the logs that you've provided. The fact that you're still getting the old params after resetting the `.aim` directory is pretty strange, and my guess here is that browser keeps some kind of cache actually. Could you try to clear the browser cache and see if that helps somehow?

[2022-08-05 16:41] ilisparrow commented on #2036
The same problem was discussed here(https://github.com/aimhubio/aim/issues/2036), I would be surprised if the ui was able to do so.
Maybe we should add a good practice doc where it is advised to setup aim this way .
Any ways closing the issue.

[2022-08-05 16:41] #2036 closed

[2022-08-05 16:49] ilisparrow commented on #2034
Thanks !
So it works on chrome/localhost and firefox/localhost and chrome/127.0.0.1 but not on firefox/127.0.0.1
![image](https://user-images.githubusercontent.com/4880273/183123565-a8e35a5a-8118-41b0-b072-68aacbaab508.png)
![image](https://user-images.githubusercontent.com/4880273/183123796-8d11d1d4-9c3c-4a7d-b74f-0df48c1c6a7e.png)

You need to come back to the page for the new request to be gene

[2022-08-05 17:11] mihran113 commented on #2034
@ilisparrow Pretty strange, I'm using firefox as well but on macOS, and it seems to be working fine in any case, will investigate further to see if can do anything to avoid it on ubuntu as well, meanwhile glad that there's some workaround. Please keep the issue open for the runs dashboard values rendering as that's a genuine issue on our side, and there's a work in progress already for the fix.

[2022-08-05 17:43] ilisparrow commented on #2034
No problem, I am glad I "contributed" a bit :).
Thanks for being this quick !

[2022-08-05 20:22] roubkar commented on #1998
Hey @Sharathmk99, this issue is resolved in v3.12.2.
To upgrade please run `pip install aim --upgrade`

[2022-08-05 20:25] roubkar commented on #2034
Hey @ilisparrow, we have just released v3.12.2 where the issue with Runs Page table values rendering is resolved.
To upgrade please run `pip install aim --upgrade`

[2022-08-06 00:10] ilisparrow commented on #2034
Thanks, that was fast ! I did some more testing, and the problem seems to definitely be a firefox problem. I can't get the metrics explorer to display consistently in ff but in chrome I do.

Thanks again :)

[2022-08-09 08:30] gorarakelyan opened #2040 "Display existing experiments in home page"
## 🚀 Feature

Display the list of existing experiments on the Runs Explorer, and enable a quick way of selecting and exploring the runs of a specific experiment via explorers.

### Motivation

Often to see how an experiment was called users need to navigate to the run page and look for the experiment name there. It takes quite some time, so displaying all the existing parameters on the UI would be

[2022-08-09 09:08] gorarakelyan opened #2041 "Add "Experiment page""
## 🚀 Feature

Add an "Experiment page" to view overall experiment info, as well as explore and manage (e.g. delete, archive, etc) attached runs.

### Motivation

As the project gets bigger it becomes essential to keep runs organized. "Aim experiment" helps to group related runs together, but it lacks functionality to help to organize and manage groups of runs for large and long-lasting projects.

[2022-08-09 18:11] muellerzr opened #2043 "Aim UI won't load in Colab"
## 🐛 Bug

Seems that aim's UI interface for Colab seems to be broken right now 😢

### To reproduce

1. `!pip install aim`
2. `%load_ext aim`
3. `%aim up`

Error code of:
[code]

### Expected behavior
I'd expect to see the Jupyter interface running in Colab

### Environment

- Aim Version (e.g., 3.0.1) 3.12.2
- Python version 3.7.13
- pip version 21.1.3
- OS (e.g., Linux) Linux
- Any other relevant

[2022-08-09 18:56] gorarakelyan commented on #2043
@muellerzr thanks for reporting! @rubenaprikyan could you please look into this?

[2022-08-09 19:04] rubenaprikyan commented on #2043
@muellerzr thanks for reporting, looking into it, I'll get back here with updates.

[2022-08-10 16:54] vishalghor commented on #462
Hi @karan2801 I wanted to use aim with fast-ai for distributed training. Is there an update on this new feature from aim?

[2022-08-10 17:08] gorarakelyan commented on #462
@vishalghor this issue is put on-hold. however if you are willing to contribute, I will be more than happy to help you.

[2022-08-10 18:52] mihran113 opened #2047 "Add logging for remote client/server connection state"
## Proposed refactoring or deprecation

Add warnings about network state (i.e. unstable/absent) and when remote resources are cleaned up due to client inactivity.

### Motivation

This would help to determine the cause of unexpected stopping of remote tracking runs.

### Pitch

As there are already heartbeat mechanism implemented, it will be pretty straight forward to check if the heartbeats are s

[2022-08-11 15:56] djwessel opened #2053 "Adding and removing tags directly on the Single Run page"
## 🚀 Feature

Currently, the workflow for adding/editing tags for a run is by finding it on one of the Explorer pages (e.g. the Metrics Explorer) and either adding/removing the tags in the tooltip. It would be beneficial to also be able to add/remove tags in the Single Run page.

### Motivation

The current workflow is rather un-intuitive and limiting.

### Pitch

Just like we can edit other aspec

[2022-08-11 16:00] djwessel opened #2054 "Add column for tags in Runs Explorer"
## 🚀 Feature

Add a column in the Runs Explorer which shows which tags (if any) are associated with each run.

### Motivation

I want a very quick overview of which tags are associated with which runs while exploring the results of my experiments. You can go to the tags page to see the list of runs associated with a given tag, but this is out of the way and doesn't provide the overview information

[2022-08-11 16:04] djwessel commented on #1147
I would like to add that being able to sort the Runs Explorer table by any column value would make it much easier to quickly explore the results of my different experiments. Without such an option, it makes things a lot more cumbersome to glean any information from this page.

[2022-08-11 21:19] vishalghor opened #2056 "Logging for Distributed training on single and multi-node"
## 🚀 Feature

Looking at the examples and github repositories which use aim , I see that none of them use aim for mult-gpu or distributed training setup. The probable reason is the inaccurate logging by aim when used in distributed setting. Aim ends up creating a event or entry with identical data for each of the GPUs instead of a single one.
### Motivation

Adding a feature which enables users to

[2022-08-11 21:33] gorarakelyan commented on #2056
@vishalghor could you please describe your setup? do you use any high level ML frameworks or tools for distributed trainings?

[2022-08-11 21:35] vishalghor commented on #2056
@gorarakelyan I use Azure with deepspeed-pytorch for distributed trainings. With multiple azure VMs i achieve multi-node scenario accomplish and use deepspeed to achieve faster training.

[2022-08-11 21:37] vishalghor commented on #462
@gorarakelyan I will try to take a look at it and get it working with fastai in a way similar to pytorch-lightning but I think the fastai community might be able to do a much better job than me for it

[2022-08-11 21:51] gorarakelyan commented on #462
@vishalghor that would be awesome. Adding a base logger (like hparams and metrics tracking) is a good start I guess. It can be iterated on towards deeper integration later on. Thoughts?

[2022-08-11 22:46] muellerzr commented on #2056
I'll also be looking at aim with huggingface Accelerate over these next two weeks and modeling a tracker off of our existing trackers in the framework [see here](https://huggingface.co/docs/accelerate/usage_guides/tracking) as I play with it :)

We make our trackers log only on the main process, which avoids this duplication

[2022-08-12 07:25] rubenaprikyan opened #2057 "Live update doesn't work after restarting aim server."
## 🐛 Bug

When live update is enabled, and aim server is down a while, it doesn't start working after restarting the server.

### To reproduce

- Enable live update
- Shut down the aim server for a while
- Then restart the server

### Expected behavior

The live update should start show results when aim server is down for a while, and restarted.

### Environment

- Aim Version (e.g., 3.0.1)  3.12.

[2022-08-12 11:27] ilisparrow opened #2060 "A like button for the run explorer"
## 🚀 Feature

A like column to be able to highligh a specific model

### Motivation
When I run multiple experiments, Sometimes it's hard to know which run was selected as the one being deployed or the best without looking into notes.

### Pitch

Get a new column in the run explorer with a start or heart button that would be associated to a run

### Alternatives

be able to display notes in the run

[2022-08-12 19:32] manuel-delverme opened #2064 "Not installing on windows"
## 🐛 Bug

[code]
### Environment

- Python version
3.8.6
- pip version
22.2.2
- OS (e.g., Linux)
Windows
- Any other relevant information

[2022-08-13 13:31] SGevorg commented on #2064
@manuel-delverme thanks for opening this issue.
How mission critical is the windows support?

[2022-08-14 08:37] nilavra commented on #2064
@SGevorg I am interning at [large electrical automation company] with 100% Windows systems. We really wanted to try Aim for its VERY impressive UI 😍 (thank you! ❤️❤️). Have to fall back to MLFlow until Aim installs on windows.

Getting the same error as @manuel-delverme
[code]

Environment:
[code]

Full error message:
[code]

[2022-08-15 12:02] SGevorg commented on #2064
@nilavra thanks for such a detailed response and kind words 😊
Do you run your workloads on windows too? (including things that require cuda)

[2022-08-15 21:35] muellerzr opened #2066 "Installing from source in Colab fails"
## 🐛 Bug

Can't install from source in Google Colab

### To reproduce

[code]
OR:

[code]

### Expected behavior

Runs fine

[2022-08-16 16:05] SGevorg commented on #2066
@muellerzr thanks for raising the issue. Sorry for the slow reply (release preps).
@alberttorosyan do you have any thoughts on why this could happen?

[2022-08-16 16:23] gorarakelyan commented on #2060
@ilisparrow sounds great, what about displaying run tags in the runs explorer and enabling editing right from the table? Thus, an associated run may be tagged with `deployed` tag. Thoughts?

[2022-08-16 22:09] gorarakelyan commented on #2056
@muellerzr @vishalghor sorry for a late reply. afaik some high-level frameworks (e.g. PL/lightning-ai) track metadata only from rank 0 node. knock-knock also has a similar behavior. I was thinking about adding a default mechanism to track only from rank 0, but also enabling to disable it and define own logic. In that way it will be easier to setup Aim for distributed trainings. Thoughts?

[2022-08-17 07:34] alberttorosyan commented on #2066
Hey @muellerzr! I was able to reproduce the issue you've seen. It seems the reason is the Cython version of the collab environment you have.
Installing from sources supposed to install the required version of Cython, but this is not enforced.
While we're fixing this issue,  as a workaround you can try the following:
[code]

[2022-08-17 07:45] sijeh commented on #1976
I also encountered this problem， I can't delete any runs using `aim runs rm ` or using web page `delete` button.  How can I use soft file locks to avoid potential data corruption?

[2022-08-17 08:43] alberttorosyan opened #2072 "Installing aim from sources fails if required version of Cython is not installed"
## 🐛 Bug
Unable to install aim from sources if `Cython` is not installed or installed version is different from `3.0.0a9`

### To reproduce
- Create a clean environment

[code]

### Expected behavior

Successfully installed aim package

### Environment

- Aim Version: src
- Python version: any
- pip version: any
- OS: any
- Any other relevant information

[2022-08-17 10:14] gorarakelyan commented on #1998
closing the issue, as the fix was shipped with 3.12.2. @Sharathmk99 please feel free to reopen this if there are still performance issues

[2022-08-17 10:14] #1998 closed

[2022-08-17 10:15] gorarakelyan commented on #2034
closing this issue, as the fix was shipped with v3.12.2. @roubkar could you please submit a separate issue wrt firefox support to track the progress there.

[2022-08-17 10:15] #2034 closed

[2022-08-17 10:17] roubkar commented on #2034
Sure!

[2022-08-17 10:19] gorarakelyan commented on #1972
Closing the issue as the main bug was resolved. @YodaEmbedding could you please submit a separate issue (if it still appears) to track its progress there.

[2022-08-17 10:19] #1972 closed

[2022-08-17 13:49] ilisparrow commented on #2060
Hello,
Thanks, This seems faire and would solve the problem.
Best regards,
Ilias.

[2022-08-17 14:48] muellerzr commented on #2056
@gorarakelyan that would definitely be a nice way of doing it to make others lives easier! Just make sure it's stated somewhere that this is what's going on, as not everyone does this 😄

(And helps ease a few lines of the `Accelerate` code for the integration as well :) )

[2022-08-18 08:05] #1911 closed

[2022-08-18 12:24] gorarakelyan commented on #2056
@muellerzr awesome! Adding to the roadmap then 🙌

[2022-08-18 12:26] gorarakelyan commented on #2056
btw are you going to integrate Aim with Hugging Face's Accelerate?
Would be happy to help you in any way we can.

[2022-08-18 13:16] muellerzr commented on #2056
@gorarakelyan slowly working my way there, yes :) I'm running some experiments and using Aim. Haven't gotten to the Accelerate part yet (been using raw torch as a baseline), but once I have it mixed in I'll open a draft PR in the Accelerate github and ping you to make sure I haven't missed anything 😄

[2022-08-18 13:35] arsengit opened #2079 "Problem with copying query and code block content"
## 🐛 Bug

Query and code block content copy functionality isn't working

### To reproduce

Open the Home page or Metrics explorer and try to copy code block content or query.

### Expected behavior

Copy selected text to clipboard.

### Environment

- Aim Version (e.g., 3.12.2)

[2022-08-18 16:33] gorarakelyan commented on #2056
@muellerzr sounds awesome! Please feel free to ask any question regarding Aim, as well as fire issues or feature requests. We are huge fans of Hugging Face, and I believe the integration would be beneficial for both communities. :hugs:

[2022-08-18 17:23] mihran113 commented on #1976
hi @sijeh. Could you please provide a little bit more information about the setup you're using?

[2022-08-18 20:36] muellerzr opened #2082 "Some small features"
## 🚀 Feature

Here's a list of small features I'd love to see out of Aim as I've gone through using it. Either by expectation of "I should be able to do this?" or things I'd love to be able to do

## CLI

To be able to do `-h` or `--help`. Many CLI programs work this way, and I expected aim to be quite similar, so this would be good for consistency!

## Logging:

A way for you to log multiple valu

[2022-08-18 23:23] pablete commented on #1065
Are there any updates towards this goal?
It will be very useful to have even to have one implementation of a storage backend so people can start contributing with different time series databases, and their performance.

[2022-08-18 23:56] Sharathmk99 commented on #1998
Thank you so much. I’ll test and let you know the feedback

[2022-08-19 05:38] alberttorosyan commented on #2082
Hey @muellerzr!
--help should be supported out-of-box for both top-level and subcommands. What happens when you run `aim --help`?

As for the passing dict as an argument to the `track()`; this is a hood feature which we'd like to implement. Will think about UX to make sure it is consistent with the other interfaces and come back to you shortly.

[2022-08-19 05:42] muellerzr commented on #2082
--help works, I should specified just the -h part 😄

[2022-08-19 08:56] mantle2048 opened #2083 "Unable to export chart figure on remote aim via ssh"
## 🐛 Bug

I run `aim` on a remote server,
[code]

and forward it to local port via ssh.
[code]

But I can't export the chart figure in `Metrics Explorer`.

The `Download` button is gray and cannot be clicked.

![image](https://user-images.githubusercontent.com/37854077/185583062-fcd5befc-ce40-4efd-a478-7ded6a7cf7f9.png)

However, I can export `csv` files in `Runs Explorer`  normally.

- Aim Versio

[2022-08-19 09:04] KaroMourad commented on #2083
Thank you for reporting the issue🙏
Looking into it.

[2022-08-19 12:35] alberttorosyan commented on #2082
@muellerzr adding `-h` as a help message flag is easy. The only blocker is that for some commands we already have it used.  For example, `aim up` has `-h | --host` option.
I can add `-h` for a top-level command, but unfortunately not for sub-commands. Do you think it would make sense?

As for the dict support in `track()` method; would you mind to open a separate issue, so we can discuss the solut

[2022-08-19 12:41] muellerzr commented on #2082
Sure!

Re: sub-commands, yeah noticed that last night as I was messing with some things. Not sure then because now you'd be mixing APIs in one, and one would expect `-h` to be for help rather than the host IP. So probably not, but iteration on the idea/discussion is still good 😄

[2022-08-19 13:09] muellerzr opened #2087 "Ability to log a dictionary of values at once"
## 🚀 Feature

Be able to do:

[code]

### Motivation

There are multiple cases where the context and epoch of logging something is the same, but I'd want to log multiple values at once. E.g. metrics for example.

### Pitch

I'd like to be able to pass in a dictionary of values that can be logged under the same context all at once

### Alternatives

Iterating over the values in a for loop:

[code]

[2022-08-19 16:36] alberttorosyan opened #2091 "unit-tests are failing for PRs opened on main branch"
## 🐛 Bug

unit-tests are failing for PRs opened on main branch. local runs are OK.

### To reproduce

Open PR which will trigger GH actions workflow

### Expected behavior

Unit-tests should pass.

### Additional context
https://github.com/aimhubio/aim/runs/7921269668?check_suite_focus=true
https://github.com/aimhubio/aim/runs/7918427943?check_suite_focus=true

[2022-08-21 08:59] #1313 closed

[2022-08-21 08:59] #1730 closed

[2022-08-21 08:59] #1990 closed

[2022-08-21 08:59] #2007 closed

[2022-08-21 08:59] #2047 closed

[2022-08-21 08:59] #2057 closed

[2022-08-21 08:59] #2079 closed

[2022-08-21 14:57] KaroMourad commented on #2083
Hey @mantle2048,

The fix for this issue has been shipped with v3.13.0
To upgrade please run ` pip install aim --upgrade`

[2022-08-22 02:09] mantle2048 commented on #2083
Thanks a lot!

[2022-08-22 02:09] #2083 closed

[2022-08-22 07:40] alberttorosyan commented on #2082
@muellerzr thanks for the feedback! If no objections, will leave the things as they now (only `--help` for help messages) to keep API consistent, and we can close this issue while tracking progress of `dict`s logging under #2087.

[2022-08-22 11:21] muellerzr commented on #2082
Yep!

[2022-08-22 11:21] #2082 closed

[2022-08-22 13:09] rubenaprikyan commented on #2043
Hi @muellerzr, the issue was fixed!
Please try the latest version of  the package. And please lmk if you are still unhappy with `aim` by using in `colab`

[2022-08-22 14:47] hendriks73 opened #2095 "Aim installation fails in GitHub actions/miniconda context, if pip<=20.2.4, cython failure"
## 🐛 Bug

When trying to install Aim from a GitHub Action, using miniconda and pip<=20.2.4, installation fails.

Partial output:

[code]

and:

[code]

Why pip 20.2.4? Because the *new* resolver introduced in pip 20.3 is really picky and leads to lots of version clashes between Aim and other packages we are using. So pip>=20.3 is unfortunately no option (please consider defining your dependencies

[2022-08-22 14:57] alberttorosyan commented on #2095
Hi @hendriks73! There's a known issue with the source installation #2072. We're working on this and plan to release the fix with the next patch release.
Meanwhile, the current release of Aim provides wheel packages generated for lower versions of pip. May I ask you to try the installation with latest aim release?

[2022-08-22 15:46] muellerzr commented on #2043
@rubenaprikyan now I get a 404 😓 Though this may not entirely be your fault, Colab just borked a ton of things over the weekend

[2022-08-22 19:06] muellerzr commented on #2056
Opened a PR here for accelerate, would love feedback on if I happened to miss something important! :) https://github.com/huggingface/accelerate/pull/649

[2022-08-22 19:34] hendriks73 commented on #2095
Thanks for the hint!
Yes, aim==3.13.0 seems to work.

I guess we can close this issue then.

[2022-08-22 19:46] rubenaprikyan commented on #2043
@muellerzr have you tried to click on the link(Open Aim UI in a new browser tab)? If it works, the problem comes from the colab.

[2022-08-22 19:48] muellerzr commented on #2043
@rubenaprikyan that also gives me a 404 it seems 😞

[2022-08-22 19:48] hendriks73 commented on #2095
Duplicate of https://github.com/aimhubio/aim/issues/2072

[2022-08-22 19:52] rubenaprikyan commented on #2043
@muellerzr lets try one more thing, could you please add a / at the end of the url you opened in a new tab?

[2022-08-22 19:54] muellerzr commented on #2043
@rubenaprikyan here's the URL it gave:

https://h79v8pd7no1-496ff2e9c6d22116-43801-colab.googleusercontent.com/notebook/

(So there already was a `/`).

Also tried adding a second / to no avail.

[2022-08-22 20:03] rubenaprikyan commented on #2043
@muellerzr
This is so weird. Yes, seems this is not related to the starting point of this issue, since the problem was already figured out and solved.

Thanks for sharing, I'll try to understand the source(colab or Aim) of this one, then will share the updates here.

[2022-08-23 05:28] Dong-Ki-Lee opened #2097 "Is there a way to build and use it on arm linux (eg. amazonlinux2 arm)?"
## ❓Question

It seems that the modification was made to build in arm, but it seems to be built only in mac arm (apple m1).
Is there any way to build and use it on arm linux? Or could support be added?

Note

Currently when I try to install from arm linux it says aimrocks version 0.21.0 cannot be found.

Environment

os : amazonlinux2
cpu : AWS Graviton
python version : 3.8 or 3.10

[2022-08-23 07:07] alberttorosyan commented on #2097
Hi @Dong-Ki-Lee. Thanks for the question.
It seems there are no blockers to provide wheels for arm linux, but there's a dependency from `aimrocks`, a `rocksdb` wrapper which should be built as well.
Is the missing arm linux a blocker for you?

@mahnerak, will building aimrocks form arm linux take long to implement?

[2022-08-23 08:38] Dong-Ki-Lee commented on #2097
Hello @alberttorosyan . Thank you for the answer.

As you said above, it seems that the problem is aimrocks (version 0.21.0) is not building well on the arm linux.
The following issues occur when working with Amazonlinux2 arm version.

For the aimrocks, when installing with pip, the version(0.21.0) cannot be found and other versions cannot be installed well.
In addition, when building the latest s

[2022-08-23 08:43] alberttorosyan commented on #2097
@Dong-Ki-Lee thanks for the additional input. Will prioritize the `aimrocks` build for arm linux. Meanwhile, is running aim for linux x86_64 an option for you?

[2022-08-23 09:09] Dong-Ki-Lee commented on #2097
@alberttorosyan thank you for the answer.
As you said, x86_64 is one of the great options. There is no problem with normal use.

It works very well in the x86_64 environment, but I want to test how faster it will be in an arm cpu environment with high single core performance.

It's just for the testing, so I just asked about the possibility :)

Thank you for your quick reply.

[2022-08-23 09:36] romanovzky opened #2098 "How to assign parameters to the same run used by the tensorflow/keras callback?"
## How to assign parameters to the same run used by the tensorflow/keras callback?

I found this works

[code]
But I was wonder if you have a recommend/principled design decision for this?

[2022-08-23 09:41] gorarakelyan commented on #2098
@romanovzky I believe it would be better to access the run via `experiment` property:
[code]

[2022-08-23 10:41] romanovzky commented on #2098
Brilliant. Works as expected. Thanks!

[2022-08-23 10:41] #2098 closed

[2022-08-23 13:00] VkoHov opened #2099 "Always display run color in the table"
## 🐛 Bug

The run color display only if the chart is grouped by color

### Expected behavior

The color boxes should always be visible.

[2022-08-23 15:55] rubenaprikyan opened #2102 "Persist explorer state through url on Figures and Base Explorers"
## 🚀 Feature

Need to persist the explorer state on FiguresExplorer through URL and Local Storage

### Motivation

It's hard to create the same configuration every time after leaving the FiguresExplorer, and it would be great to send explorer configuration to someone via url.
It would be great to make this feature extendible for all explorers made by BaseExplorer.

### Pitch

Need to make every st

[2022-08-25 09:26] djwessel opened #2105 "Handle deprecations in PyTorch Lightning 1.7 API"
## Proposed refactoring or deprecation

Change imports in `aim.sdk.adaptors.pytorch_lightning` to handle deprecations in PyTorch Lightning API.

* `pytorch_lightning.loggers.base.rank_zero_experiment` -> `pytorch_lightning.loggers.logger.rank_zero_experiment`
* `pytorch_lightning.loggers.base.LightningLoggerBase` -> `pytorch_lightning.loggers.logger.Logger`

### Motivation

Some of the API in PyTo

[2022-08-25 10:12] gorarakelyan commented on #2105
@djwessel thanks for reporting. Will make sure to release the fix with the upcoming patch releases.
btw would be happy to help in case you want to contribute!

[2022-08-25 10:16] jiyuanq opened #2106 "Metrics graphs not refreshed in UI while a run is in progress"
## 🐛 Bug

When I have an experiment run ongoing, and I click into that run, I can see terminals logs getting refreshed, but not metrics graphs.
The only way for me to force a refresh of metrics is to go back to "Runs" tabs and click into this ongoing run from there again.
I've enabled live update on the "Runs" page

### To reproduce

- Have a running experiment with aim logging enabled
- Click int

[2022-08-25 10:45] alberttorosyan commented on #2106
Hi @jiyuanq. The functionality of live updates is not implemented on Single Run page yet (with the exception of Logs tab).
@roubkar @VkoHov, will it be possible to enable live updates for other tabs?
As an alternative, you can navigate to "Metrics Explorer" by selecting the Run in progress (see the screenshot attached).
<img width="586" alt="Screen Shot 2022-08-25 at 14 42 37" src="https://user-im

[2022-08-25 10:53] jiyuanq commented on #2106
@alberttorosyan I see. I was expecting the same behavior for metrics given logs was being live updated. It would be nice to have live updates enabled for metrics and system tabs

[2022-08-25 10:57] alberttorosyan commented on #2106
@jiyuanq, sure, that's a correct assumption 🙌
I'm changing the label to a `type/enhancement`. May I ask you to update the description accordingly?

[2022-08-25 11:09] jiyuanq commented on #2106
Sure just updated

[2022-08-25 11:16] VkoHov commented on #2106
Hey @jiyuanq, thanks for opening this issue. We will add it to our roadmap and will keep you updated on the progress.

[2022-08-25 11:30] djwessel commented on #2105
@gorarakelyan Hey, I opened a PR with the fix as it was rather quick to do. Let me know if there is anything that needs to be fixed.

[2022-08-25 16:16] mihran113 commented on #1879
Hey @timokau. The fix for this issue has been shipped with `aim v3.13.0`.
Could you please check it out to see if everything works as expected?

[2022-08-25 18:21] gloryVine commented on #2034
I think this has to be reopened.
I am currently running a model with a simple ```run.track(reward, name='reward', epoch=n)``` and am getting an empty Metrics Explorer when running the model with **Python 3.9, aim 3.13.0```, but the run is tracked correctly when changing to an environment with **Python 3.8, aim 3.10.3```. This isn't Firefox either, I tried with both Chromium and Safari.

[2022-08-26 08:44] gorarakelyan commented on #2097
hey @Dong-Ki-Lee. We released a dev version of aimrocks for arm linux. Could you please try it out and let us know if it works?
[code]

[2022-08-26 08:53] jiyuanq opened #2109 "How to scale aim repo to support simultaneous writes from multiple training runs"
## ❓Question

in order to compare multiple training runs side by side, I tried make them write to the same aim repo located on a shared EFS. However when I do this, I see the following errors in some of those runs:
[code]

My questions are:

- Does aim repo current support simultaneous writes from multiple training runs?
- If yes, how scalable is that? In my case I encountered these errors when ju

[2022-08-26 08:57] alberttorosyan commented on #2109
Hello @jiyuanq! Thanks for the question.
Aim is designed to support multiple parallel trainings. In fact, some users have reported to have >100 parallel trainings without any issues.
The error you have shared might be specific to your setup. May I ask you to provide more details about the environment used?

[2022-08-26 09:06] jiyuanq commented on #2109
@alberttorosyan sure, I was running single GPU training with pytorch 1.10.0, pytorch lightning 1.5.10, aim 3.13.0, on python 3.8.10, and I was using the provided AimLogger.
The training job was running normally for like 900 mini-batches and then suddenly there were tons of error logs like what I shared, and couldn't locate exactly where this started happening because earlier logs were lost.
Anothe

[2022-08-26 09:16] jiyuanq commented on #2109
Also I'm wondering if using remote tracking server will make it easier to writes?

[2022-08-26 09:44] mihran113 commented on #2034
Hey @gloryVine! Thanks for the report. Can I ask you to provide a little bit more information about the case that is failing? (i.e. the exact python version, OS version, and if possible an example script to reproduce the issue.)

[2022-08-26 16:30] gorarakelyan commented on #422
@HoltSpalding integration with keras-tuner has been shipped with Aim v3.13.0!
Here are the docs: https://aimstack.readthedocs.io/en/latest/quick_start/integrations.html#integration-with-keras-tuner

[2022-08-26 16:32] gorarakelyan commented on #1512
Hey @gerardsolutions! The Figures Explorer has been shipped with Aim v3.13.0. It enables querying and comparing plotly figures across runs side-by-side – roc curves, confusion matrices, etc.

Here is a quick glimpse of how it looks like:
![short_figures](https://user-images.githubusercontent.com/13848158/186951070-d2e34ce0-b294-42b4-9fcd-6dc4745d8fd1.gif)

[2022-08-26 16:34] gorarakelyan commented on #1509
Hey @gerardsolutions! The Figures Explorer has been shipped with Aim v3.13.0. It enables querying and comparing plotly figures across runs side-by-side – roc curves, confusion matrices, etc.

Here is a quick glimpse of how it looks like:
![short_figures](https://user-images.githubusercontent.com/13848158/186951070-d2e34ce0-b294-42b4-9fcd-6dc4745d8fd1.gif)

[2022-08-26 16:35] gorarakelyan commented on #1512
@gerardsolutions Figures Explorer enables visualizing confusion matrices as well. It was released with Aim v3.13.0!

[2022-08-26 16:38] gorarakelyan commented on #1479
@BasCR-hub @ashutoshsaboo it turned out there is an issue with converting seaborn and matplotlib figures to plotly, which is used to visaulize interactive plots on UI. The recommended way of tracking matplotlib figures is converting them into image via `aim.Image`.

[2022-08-26 16:39] gorarakelyan commented on #1779
@sdesrozis the fix has been shipped with Aim v3.13.0. Please check it out and let me know if it works as expected. 🙏

[2022-08-26 20:11] eiphy opened #2110 "Raising type error when simply query all runs."
## 🐛 Bug

When I simply query all runs in python script, the following error happens:
  File "/Users/ei/opt/miniconda/envs/torch/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/ei/opt/miniconda/envs/torch/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/ei/.vscode/extensions/ms-python

[2022-08-27 02:19] eiphy commented on #2110
The correct code should:
[code]
A bit anti-intuition though.

[2022-08-27 02:19] #2110 closed

[2022-08-29 02:59] jiyuanq commented on #2109
@alberttorosyan unfortunately this seems to happen to me pretty often. I had two more runs hitting the same error after around 40k mini batches of training.
I checked the logs and there's nothing more informative than what I already shared. Should I repost this as a bug? I think it's really making it challenging for me to use aim on critical training tasks, even though I really like the UI

[2022-08-29 03:19] jiyuanq commented on #2109
To share more information:
1. The two jobs started encountering the issue at around the same time
2. While training logs stopped updating at minibatch 24500-ish, it looks like aim metrics were updated to 40k minibatches, with a weird pattern (see below), so i guess training actually continued for a while it's just no more logs where printed?
![截屏2022-08-29 上午11 13 36](https://user-images.githubuse

[2022-08-29 05:11] alberttorosyan commented on #2109
@jiyuanq thanks for the additional info. The screenshot above looks strange; seems to be a result of data corruption. Can you also share how many `track` method calls per second you have on average?
Will try to reproduce the issue, since at the moment I have no clue why this happens.
Meanwhile you can give a try to remote tracking server.

[2022-08-29 07:48] alberttorosyan opened #2115 "`aim reindex` command fails if Repo has stalled runs"
## 🐛 Bug

`aim reindex` command fails with the error

### To reproduce

- start a training process with aim logger.
- kill the process
- rim `aim reindex`

[code]

### Expected behavior

Successfully reindex stalled runs in repo.

[2022-08-29 08:37] jiyuanq commented on #2109
How can I find the exact number of track method calls per second?
If I were to estimate, I'm using pytorch lightning with 3 metrics and the default logging interval of 50 steps. It takes about 20s to run 50 steps, so `track` calls per second should be less about 0.15

[2022-08-29 08:50] alberttorosyan commented on #2109
that's exactly what I was looking for 🙌

[2022-08-29 11:56] Gerenuk opened #2117 "How can I run Aim in the background?"
## ❓Question
I'd like to open the Aim interface from a bash script together alongside commands. What is the recommended way to do that?

There is no "background" option in Aim. I could try to use bash "&", but I'm not sure how to handle that in my script and close Aim later. I tried to catch the PID by "$!" and "kill" but it seems to leave abandoned "python" processes.

[2022-08-29 15:38] Dong-Ki-Lee commented on #2097
@gorarakelyan Oh, it works very, very well. Thank you very much for your quick confirmation

env
* amazonlinux2
* c7g (graviton3)
* python3.10 (The default Python version of amazonlinux2 is python3.7, so I built and used python3.10.)

[2022-08-29 22:24] mihran113 commented on #2117
hey @Gerenuk! Thanks for the question.
`aim up &` is the way to go, but unfortunately we're spawning the `uvicorn` server as a separate process, so you'll need to kill that process instead to not leave any hanging processes behind. To find the id of that process you'll need to use
`pgrep -P PID` command.
May I ask you to provide a little bit more information about your setup and why do you need to

[2022-08-30 09:08] jiyuanq commented on #2109
Update: I switched to a new EFS with no other users, and tried 7 runs today. 2 of those runs still hit the same issue.. I'll try remote tracker as well

[2022-08-30 09:16] alberttorosyan commented on #2109
@jiyuanq, are those two runs started from scratch or they are the same which were failing before?

[2022-08-30 18:07] VkoHov commented on #2054
Hey @djwessel. The PR has been submitted - [#2120](https://github.com/aimhubio/aim/pull/2120). It is planned to be released in the 3.14.0 version. I will make sure to let you know once it is shipped.

[2022-08-31 09:01] jiyuanq opened #2125 "Error when appending to existing run through remote tracker"
## 🐛 Bug

[code]

### To reproduce

With pytorch lightning, first run training, and then run evaluation with the same AimLogger and the same run hash.

I checked the code (https://github.com/aimhubio/aim/blob/main/aim/storage/treeviewproxy.py#L149), is it actually a typo? I guess it should be 'last_key' instead of 'last'

### Expected behavior

It should work correctly like non-remote tracker case

[2022-08-31 09:08] gorarakelyan commented on #2125
@mihran113 could you please take a look at this?

[2022-08-31 10:04] jiyuanq opened #2126 "Implement the standard GRPC health checking protocol for remote tracker"
## 🚀 Feature

Implement the standard grpc health checkpoint protocol: https://github.com/grpc/grpc/blob/master/doc/health-checking.md

### Motivation

Currently when we deploy remote tracker on k8s, there's no way to do meaningful readiness and liveness probe.
The tcpSocket probe works but it's not a meaningful probe as mentioned here: https://kubernetes.io/blog/2018/10/01/health-checking-grpc-ser

[2022-08-31 11:40] mihran113 commented on #2125
Hey @jiyuanq. Thanks a lot for the report. That seems to be a typo actually. Will do the fix ASAP and we'll ship it with the next patch release.

[2022-08-31 16:18] PeterSulcs opened #2129 "Can't track GPU metrics from a MIG GPU instance"
## 🐛 Bug

When running training on an NVIDIA A100 80gb in a 1/7 Multi-Instance GPU (MIG) configuration aim does not capture GPU metrics

### To reproduce

Run any simple training (I used the GAN example) on a MIG GPU and observe that no metrics show up in the associated experiment in Aim.

### Expected behavior

Expect Aim to automatically capture GPU temp, utilization, memory like it does when us

[2022-09-01 03:16] jiyuanq opened #2131 "Re-initialize resources when remote tracker returns UnauthorizedRequestError"
## 🚀 Feature

When remote tracker is restarted/redeployed, all its states are gone, and we get UnauthorizedRequestError on the client side if there's an ongoing training run.
The client should be able to negotiate with the new server and re-initialize remote resources when that happens, so we can continue logging the current run without interruption.

### Motivation

When we use remote tracker, it

[2022-09-01 03:23] jiyuanq opened #2132 "Error when returning WriteInstructionsResponse with exception from remote server"
## 🐛 Bug

[code]

### To reproduce

It's related to https://github.com/aimhubio/aim/issues/2131
When I restart remote tracker during a training run, I noticed that the UnauthorizedRequestError is not correctly returned due to this bug.

It looks like a bug here: https://github.com/aimhubio/aim/blob/main/aim/ext/transport/server.py#L201 where "version" should actually be a string according to the p

[2022-09-01 06:56] jiyuanq commented on #2125
Thank you! Do we have a test case that covers this scenario? If not, it might be a good idea to add one

[2022-09-01 06:57] alberttorosyan commented on #2132
@jiyuanq thanks for reporting this issue and detailed description 🙌
@mihran113 the similar issue occurred in the past; can you please take a look?

[2022-09-01 07:15] Dong-Ki-Lee opened #2133 "Is there any plans to support multi-core?"
## ❓Question

Hello.

Due to the following two situations, I would like to ask if you are planning to support multi-core.

1. When dealing with 10000+ experiments (in web), there is a cpu bottleneck, which slows down slightly.
2. When nfs such as aws efs is used together (this is what we considered to stabilize the service), the latency of the nfs is too slow, resulting in disk performance bottlen

[2022-09-01 07:28] alberttorosyan commented on #2133
Hi @Dong-Ki-Lee!
Just to make sure I understand the questions correctly, may I ask you to elaborate a bit more?
Especially regarding this part:

As for the 1st question

Are you experiencing slowness on queries or on UI actions?

[2022-09-01 07:46] Dong-Ki-Lee commented on #2133
Hello @alberttorosyan

For example, when I cover more than 10000 experiments on the metrics page, when I add about 10 metrics and "run.experiment=='experiment'" queries, it takes about 20 seconds. (It takes about 20 seconds for a graviton 3 core and 40 seconds for an Intel core.)
During the loading of the metrics page, only one core out of all cores is used 100%.

I don't think this is slow. And I

[2022-09-01 09:28] alberttorosyan commented on #2133
@Dong-Ki-Lee thanks for the additional details.

The idea of utilizing multiple cores for query execution is something we started to explore. So the basic idea would be to split the 10000 experiments into roughly equal chunks then use multiple processes to get matching experiment, then finally gather them on the main process. Since its a CPU-bound operation, unfortunately, multithreading will not

[2022-09-01 09:46] Dong-Ki-Lee commented on #2133
Thank you for your answer.

If the 3.14 version adds experimental page function, and if AIM can see the experimental-specific runs separately (for example, 100 runs in total and 100 runs in experimental1 can only be queried for experimental1), I think the speed is sufficient without multi-core support.

I just thought of the name of the function being added. It's just my idea.

Thank you for check

[2022-09-01 10:11] mihran113 commented on #2125
Unfortunately not, we don't have test cases for remote tracking for now.
Will make sure to cover this when adding test-cases for remote tracking. 🙌

[2022-09-01 10:17] mihran113 commented on #2131
hey @jiyuanq! Thanks for the request.
Makes a total sense, and we had it on our plans as well, just didn't have the time yet to implement.
We'll prioritize this for the next minor release. (`aim v3.14.0`)

[2022-09-01 10:18] mihran113 commented on #2132
Sure, will have look and get back with updates.

[2022-09-01 12:46] arsengit opened #2135 "Create a Dashboard page to provide a better onboarding experience"
## 🚀 Feature

Create the `Dashboard` page.

### Motivation

Provide users with a better onboarding experience.

### Pitch

Here are what should be displayed on the Home page
- [x] Existing experiments
- [x] Tags table
- [x] Release notes
- [x] Bookmarks list
- [x] Quick links to Aim docs
- [x] Provide quick links to query archived and active runs in the Runs explorer
- [x] In progress runs

[2022-09-01 12:51] jiyuanq commented on #2131
Great to know! Looking forward to it!

[2022-09-02 05:08] SGevorg commented on #2129
Hi @PeterSulcs thanks for opening this issue.
How much of a blocker is this?

[2022-09-02 14:19] mihran113 opened #2141 "Query metrics with last value"
## 🚀 Feature

Ability to query metrics with last value in Aim SDK and on UI

### Motivation

As already covered in this issue: there's an ability to query runs by its metrics last values, it would be nice to have the same abilities for metric queries as well.
https://github.com/aimhubio/aim/issues/1922

### Pitch

Extend Aim query language to enable querying metrics by its aggregated/reduced value

[2022-09-02 14:45] mihran113 commented on #2132
@jiyuanq thanks for the detailed report, you've done the heavy work here. 🙌
I've made the changes, we'll ship them with the next patch release.

[2022-09-05 12:26] alberttorosyan commented on #2115
shipped with `3.13.1` release

[2022-09-05 12:26] #2115 closed

[2022-09-05 13:45] gorarakelyan commented on #2105
Hey @djwessel. The fix has been shipped with Aim 3.13.1 version! Congrats on the first contribution! 🚀

[2022-09-05 13:45] #2105 closed

[2022-09-05 13:45] #2141 closed

[2022-09-05 13:46] #2125 closed

[2022-09-05 15:09] gorarakelyan commented on #2095
closing this issue as a duplicate. @hendriks73 will keep you updated on the original issue.

[2022-09-05 15:09] #2095 closed

[2022-09-05 17:11] VkoHov opened #2144 "Adjust the grouping section layout"
## 🚀 Feature
​
It's hard to understand what the icons stand for in the grouping item.
The grouping item will be more informative if there will be a group type instead of an icon.

### Motivation

It will make more user-friendly grouping section to have a better onboarding.

### Pitch
1. Change the items with icons to text buttons.
2. Separate the grouping section and move it under the query form.

[2022-09-06 09:19] jiyuanq opened #2145 "Support easy ways to collapse/hide nested run params"
## 🚀 Feature

Support easy ways to collapse/hide nested run params

### Motivation

Deep nested run params can occupy a large number of columns, it would be nice to have an easy way to collapse/hide all nested values beyond a certain depth, or below certain keys like the run params tab in single run page.

### Pitch

In my case, my training config is a large nested json object containing hyperpara

[2022-09-06 09:43] gorarakelyan commented on #2145
Hey @jiyuanq. That is a great point! We have been thinking about adding a project-level settings page, where users will be able to whitelist/blacklist those configs, which aren't necessarily needed to be displayed in tables. Basically the idea is to enable:
- whitelisting those config which should always be visible in tables
- blacklisting configs which will be hidden by default
- diff of the rest

[2022-09-06 09:44] gorarakelyan commented on #2145
Also if it is possible could you share how you use the table? Some use cases?

[2022-09-06 10:17] jiyuanq commented on #2145
Thank you for the reply! Yeah this makes a lot of sense to me.

[2022-09-06 14:10] rubenaprikyan opened #2146 "Separate state slices on explorer engine and improve code quality"
## Proposed refactoring or deprecation

Currently the different states for the explorer handling like pipeline, query, boxConfig, etc., need to separate states, and make different states composition in one.
Would be great to create different engine compositions into one
i.e. consider pipeline engine
The engine has its own state, to store data driven action result, and make them observable
The pipe

[2022-09-06 16:24] KaroMourad opened #2149 "Revamp Figures explorer controls section for better onboarding and usability"
## 🚀 Feature

Adjust the controls section layout and add labels to the controls.

### Motivation

It's hard to find the specific control of the explorer, as they don't have labels and you should differentiate them with icons only.
It would be better to make UI more user-friendly and adjusting the controls section will improve the onboarding of the explorer.

### Pitch

1. Change the controls secti

[2022-09-06 17:45] tmynn opened #2151 "mlflow converter properties change and improvements"
## Proposed refactoring or deprecation

Change `run.info.run_uuid` with `run.info.run_id`. Log mlflow run id, name and the description.

### Motivation

`run_uuid` property is deprecated. It will be convenient for the users to navigate using the mlflow run id, name and description.

[2022-09-06 19:00] mihran113 opened #2152 "`Logs` tab on single run page doesn't load when heavy terminal logs are tracked"
## 🐛 Bug

When opening `logs` tab on single run page it doesn't show anything, furthermore when switching to another tab while it's loading the following error appears on terminal.
[code]

### To reproduce
Run the following script, then open aim UI and navigate to the run's logs tab.
[code]

### Expected behavior

Logs to visualize normally.

### Environment

- Aim Version  - 3.13.1
- Python versi

[2022-09-08 11:40] KaroMourad opened #2155 "The regression line doesn’t render on exported scatterplot image"
## 🐛 Bug

The applied regression line doesn’t render on exported scatterplot image.

### To reproduce

1. open Scatter explorer
2. apply trendline on Scatter plot
3. export image
4. explore the broken exported image (the regression line doesn’t exist on the image)

### Expected behavior

Expected to render also regression line on the exported image

### Environment

- Aim Version (e.g., 3.13.1)

[2022-09-09 10:14] Aonnghus opened #2158 "Aim is very slow since 3.12.0"
## 🐛 Bug

I observed a huge slow down when using Aim since updating to 3.12.0. I did not have this issue with previous 3.11.2.
Launching aim up takes a bit less than 1 minute.
Creating a run tracker through Python with `aim.Run` is very long (1 to 2 minutes).
Aim UI is very slow, for instance I cannot go to the Images tab, it keeps loading and then my browser tab crashes saying "Something went wro

[2022-09-09 10:23] alberttorosyan commented on #2158
Hi @Aonnghus!
Sorry to hear you experience issues with performance. Does this happen on later versions as well? How big the aim repo is (number of runs, metrics, image sequences, etc.)?
Any additional detail, such as request waterfall screenshot (in case of UI slowness) or sample scripts to generate some data, would be extremely helpful. 🙌

[2022-09-09 12:32] Aonnghus commented on #2158
Hello @alberttorosyan
Yes, the same thing is happening with versions newer than 3.12.0. Actually, I noticed the issue on the latest version to date (3.13.1), and I downgraded Aim until the problem disappeared.
Initialization of  Aim repository also takes a long time.

The repo I used is very small, I only have 1 run composed of 7 metrics, 414 images were tracked (256x256 px). System logs and stdou

[2022-09-09 12:47] sdesrozis commented on #1779
Sorry for the delay ! First of all, many thanks for your fix ! I will check that asap and keep you in touch.

[2022-09-09 16:57] gorarakelyan opened #2159 "Plugin to auto-capture the training run progress and time to complete"
## 🚀 Feature

It would be great if Aim could auto-capture, log and display the training run progress and expected number of steps to get the run complete.

### Motivation

To easily learn the progress and remaining time of the training run to complete.

### Pitch

Add an Aim plugin to capture and store the run progress and expected steps to get it complete automatically.

### Alternatives

- Calcu

[2022-09-09 20:02] gorarakelyan commented on #1779
@sdesrozis awesome, looking forward to the feedback! 🙌

[2022-09-12 15:19] #2155 closed

[2022-09-12 15:20] #2151 closed

[2022-09-13 12:35] alberttorosyan commented on #2158
@Aonnghus, I've tried the script above on a pretty modest Linux machine (t2.medium instance with 2 CPUs and 4GB RAM), it it took ~10 seconds to execute. How long does it take to run on your side?

[2022-09-13 12:57] Aonnghus commented on #2158
I tried on another machine, launching time was very short. This part might be hardware-related (even if the specs are largely enough to run Aim).
However, I still have an issue if I go to Aim UI's URL on 127.0.0.1 and try to gather images from the corresponding sidebar tab.
My query is `run.hash == "<hash>"` and I select everything from the blue button "+ Images". Sometimes images are displayed in

[2022-09-13 14:36] KaroMourad opened #2164 "Add the ability to handle exceptions for pipeline phases on Base explorers including Figures explorer"
## 🚀 Feature

Add the ability to handle exceptions for all pipeline phases.

### Motivation

As there are no exception handlers for BaseExplorer pipeline phases, need to add the ability to catch errors and handle them, by creating corresponding exception instances on Base explorers including Figures explorer.
At first for QueryForm syntax error highlighting (query phase), and for other pipeline ph

[2022-09-14 12:32] gorarakelyan commented on #2158
@Aonnghus could you please submit a separate issue with additional context wrt exploring tracked images? We will try to resolve it as soon as possible.

[2022-09-14 14:56] jdhenckel commented on #2064
@SGevorg I have the same issue, and I am confused by your responses.  Is this a bug or limitation?  If so, is there any workaround?

Why are you asking if it is mission critical and if any workloads require cuda?   Those seem like irrelevant questions.

[2022-09-14 16:46] SGevorg commented on #2064
@jdhenckel, sorry for confusion. I am trying to learn more about the issue.

We haven't seen many cases where the actual training is ran on windows machines (hence the `.aim` also generated on the windows machine too).

Aim UI can be deployed anywhere where the `.aim` repository is. Usually it's on the same machine where the training is ran or on a remote machine used by a number of users via brow

[2022-09-14 17:41] osoblanco opened #2169 "Comparing Distributions accross various runs."
## 🚀 Feature

I would like to be able to compare tracked distributions across several runs in order to gain insights about training/inference dynamics.

### Motivation

This feature can allow seeing how a certain dynamic is changing within the model w.r.t.  parameter changes across runs. For example: seeing the weight dynamics of the initial or final layer when the pretrained backbone model is cha

[2022-09-15 11:05] gorarakelyan commented on #2169
@osoblanco thanks for sharing the use-case, makes a lot of sense! We are going to release the Distributions Explorer in the coming releases. It would enable selecting, grouping and comparing tracked distributions.

A temporary workaround might be tracking those distributions as plotly figures and comparing them via Figures Explorer (released with Aim v3.13). Example:
![short_figures](https://user-

[2022-09-15 11:05] gorarakelyan commented on #2169
@roubkar tagging you here so you are aware of the thread.

[2022-09-15 13:44] jdhenckel commented on #2064
@SGevorg Thanks for clarifying.

I'm writing software for AI discovery and I use Windows + VSCode.  I'm trying to put hooks in my code to call aim. Although the actual discovery will run on Unix, I need to call aim in my testcases, which I run on Windows.

In theory I can use AIM on Windows if I use a remote repo=aim://myunixbox/ but that will require you to make a "remote only" package of aim.  M

[2022-09-16 14:58] gorarakelyan opened #2170 "Poor performance when loading runs in the Runs Explorer"
## 🐛 Bug

- Runs are not being loaded instantly
- Also, a long intro and outro when loading runs

### To reproduce

1. Track a number of runs (~50 runs)
2. Navigate to Runs Explorer

### Expected behavior

Runs list to be loaded much faster.

### Environment

- Aim v3.13.3

[2022-09-16 15:00] gorarakelyan commented on #2170
The loading time may depend on the number of tracked runs parameters. A possible solution might be whitelisting/blacklisting runs parameters. More details here: https://github.com/aimhubio/aim/issues/2145#issuecomment-1237917470

[2022-09-16 15:16] gorarakelyan opened #2171 "Some runs are marked as active while the training process has finished"
## 🐛 Bug

Issue with detecting finished runs.
Some runs are marked as active/in-progress, even if the training process has finished or has been terminated.

### Expected behavior

Properly detect when the training process is finished and finalize the corresponding Aim Run:
- set `run.active` property to `False`
- set run finalization time

### Environment

- Aim Version - Aim v3.13.2

[2022-09-16 15:19] gorarakelyan commented on #2171
Might depend on the setup and particularly on the workflow automation tool. I have come across some cases, when workload managers (e.g. slurm) just kill the process with SIGKILL (-9 signal).

[2022-09-16 15:35] arkkln opened #2172 "Ability to view raw metrics numbers as a dataframe view on the UI"
## 🚀 Feature

Currently the only way to explore metrics on UI is via Metrics Explorer, where metrics are displayed as line charts.
It would be great to add an ability to view the raw values of metrics as a dataframe view or table.

### Motivation

In order to learn deeper insights on the tracked metrics, it would be great to be able to explore **the raw numbers** of metrics.
Additionally enabling

[2022-09-16 16:25] gorarakelyan opened #2173 "Chart tooltip reappears when hovering over table rows and impedes looking at visualizations"
## 🚀 Feature

When hovering over table rows, the chart tooltip reappears, which can impede looking at visualizations. Consider hiding the tooltip.

### Motivation

When working on the table, visualizations should be entirely visible. The chart tooltip can impede exploring visualizations and thus harm the experience.

### Pitch

Only highlight the corresponding line and its last step, when hovering

[2022-09-16 16:27] gorarakelyan commented on #2173
There might be other better alternatives of improving the usability when working with the table and visualizations.
@roubkar @mahnerak please feel free to share your thoughts on this.

[2022-09-16 16:41] gorarakelyan opened #2174 "An easy way to distinguish between logs captured from stdout and stderr on UI"
## 🚀 Feature

Ability to distinguish between logs captured from stdout and stderr on run page.
Also, apply color coding per python's logger formatting.

### Motivation

The training process logs are captured both from stdout and stderr streams. It would be great to enable an easy way to differentiate the stdout logs from stderr logs.

### Pitch

Divide captured logs into "Standard output (stdout)"

[2022-09-16 17:05] gorarakelyan opened #2175 "An explicit way to disable lines smoothing in the Metrics Explorer"
## 🚀 Feature

An explicit way to disable lines smoothing in the Metrics Explorer.

### Motivation

In order to disable smoothing over line charts in the Metrics Explorer, the coefficient should be set either to 1 or 0 (depending on the smoothing type). It would be better to add an explicit way of completely disabling the smoothing, as the current experience might be confusing.

### Pitch

Smoothin

[2022-09-18 15:40] VkoHov opened #2177 "Replace the Spinner loader with a lighter one"
## 🚀 Feature

The current Spinner loader is working with JS too. It's heavy and freezes if the page is frozen.

### Motivation

The new Spinner implemented using only the HTML and CSS will be lighter.

[2022-09-19 07:12] alberttorosyan commented on #2097
Hi @Dong-Ki-Lee ! Could you please try out the following dev. package of `aimrocks`?
```pip install aimrocks==0.2.2.dev6```

It is basically the same package as previous one, but already automated by Github Actions. If everything is fine on your side, will roll the new official version and update `aim` to use the newer version of `aimrocks`

[2022-09-19 08:14] Aonnghus commented on #2158
A bit more details about my setup: I am connecting to a remote machine through SSH, where aim is installed in a virtual env. Home directory is mounted from another machine on the same network. My code is in the home directory, but the virtual env is on a local SSD. Aim repo is stored on that same SSD.

With version 3.11.2, everything works smoothly with my current setup. I can even have Aim repo a

[2022-09-19 08:28] Aonnghus opened #2180 "Performance issues in Aim UI"
## 🐛 Bug

I am tracking images with Aim on a remote server. To explore runs, I created a SSH tunnel forwarding Aim's remote port to a local port. I can connect to Aim UI just fine. However, when I try to explore ~400 tracked images, the UI sometimes get stuck and freezes. It happens a lot when using the "Goup by" tab. The browser shows a warning pop-up saying that the page crashed.
I tried with Ch

[2022-09-19 08:34] gorarakelyan commented on #2180
@Aonnghus thanks for reporting! @roubkar could you please look into this?

[2022-09-19 08:57] Aonnghus opened #2181 "Bug when pasting in Aim UI query box on Firefox"
## 🐛 Bug

When pasting some text in Aim UI's query box on Firefox, random letters disappear.

![](https://user-images.githubusercontent.com/35961382/190982909-2de782f3-8858-450b-bb38-fbf83f481223.gif)

### To reproduce

- Browse Aim UI with Firefox
- Paste some text in the query box

### Environment

- Aim Version 3.13.3
- Python version 3.10.7
- pip version 22.2.2
- OS Linux

[2022-09-19 12:21] roubkar commented on #2180
Looking into it!

[2022-09-19 12:21] arsengit commented on #2181
Hey @Aonnghus, thanks for reporting 🙌 . Looking into it.

[2022-09-19 15:43] VkoHov commented on #2180
Hey @Aonnghus, I tested the Images explorer but unfortunately couldn't reproduce your issue. Could you share more info about the images?
- type
- size
Ideally, if possible could you share the tracking scripts and the logs of the specific run that has caused the issue: just go to the .aim folder, and zip the subsequent run folder.

I would only need it for debugging purposes.
Feel free to ping me o

[2022-09-20 08:29] YodaEmbedding opened #2183 "Pre-binned distribution/histogram"
## 🚀 Feature

A user should be able to create an `aim.Distribution` using histogram data that the user computed. Perhaps by specifying some flag that disables the automatic internal `numpy.histogram`.

### Motivation

Sometimes the exact histogram is known, rather than needing to a sample it from some random source.

### Pitch

[code]

### Alternatives

Plotting a typical plot.ly figure instead.

[2022-09-20 12:24] alberttorosyan opened #2186 "Aim creates directory `aim://...` when running training script with remote tracking"
## 🐛 Bug
When running training script with remote tracking server Run, new directory is created to report run status/progress.

### To reproduce
- Run aim remote tracking server: `aim server`
- Create Run pointing to remote server:
[code]
- Check current working directory.
new directory is created

### Expected behavior
No additional files/directories should be created at client side.

### Additio

[2022-09-20 19:09] YodaEmbedding commented on #2183
In terms of the API, does this new `__init__` interface seem reasonable?

[code]

Usage:

[code]

[2022-09-21 04:22] YodaEmbedding opened #2187 "Space-efficient storage: compress LOG and *.sst for text data"
## 🚀 Feature

More space-efficient storage by compressing LOG and storing compressed text data in *.sst files.

### Motivation

The LOG file contains text data, which presumably isn't really needed to be viewed by the average user. It can be stored and flushed into some compressed container.

I use [`catalyst`](https://github.com/catalyst-team/catalyst), which uses [`tqdm`](https://github.com/tqdm

[2022-09-21 07:30] YodaEmbedding opened #2188 "aim runs cp on fresh aim init causes KeyError: No key ('contexts', ...) is present"
## 🐛 Bug

Aim Runs page is blank and raises error after running `aim runs cp` on fresh `aim init`.

### To reproduce

[code]

Navigate to Runs page.

Output:

[code]

### Expected behavior

No error. Non-blank runs page.

### Environment

- Aim Version: 3.13.2
- Python version: 3.8
- pip version: 22.1
- OS: Linux
- Any other relevant information

### Additional context

N/A

[2022-09-21 07:50] alberttorosyan commented on #2183
@YodaEmbedding will take a look and get back soon.
Regarding the limitation of 512 bins; this is done mainly for performance considerations. UI component used for showing distribution data has some rendering issues with high number of bins.

[2022-09-21 10:00] gorarakelyan commented on #2188
@YodaEmbedding thanks for reporting. Looking into it!

[2022-09-21 10:00] gorarakelyan commented on #2187
@mahnerak could you take a look at this?

[2022-09-21 16:44] vakker commented on #1246
This is giving me an error.
If I run from the `.aim` parent dir `aim runs  cp bfb90fe96d284a07b5334e3e --destination ../aim` then it gives me:
[code]

If I use `*`, then it just goes through all of the hashes:
[code]

[2022-09-21 18:14] YodaEmbedding opened #2189 "Figure explorer: URL-query string and bookmarks"
## 🚀 Feature

Add URL-query string (e.g. `?figures=rate-distortion-plots&rowgroups=run.experiment&colgroups=run.hp.target_bitrate`) and bookmarks to Figure explorer.

### Motivation

Ability to refresh page and maintain same viewpoint, or share link to same Figure explorer layout with others.

Bookmarks may also be natural to apply here.

### Pitch

Some sort of URL query-string that points to the

[2022-09-21 18:31] YodaEmbedding commented on #2145
One possible `aim.toml` (or `pyproject.toml`?!) config file layout:

[code]

Alternatively, a `.gitignore` style string would also make sense (though one would have to be careful not to introduce edge cases in syntax):

[code]

[2022-09-21 18:37] rubenaprikyan commented on #2189
Hey @YodaEmbedding! thanks for the request.
Our current milestone includes this enhancement and planned to ship with the next minor release.

[2022-09-21 22:18] vakker opened #2190 "Unclear deprection suggestions for run_hash"
## 🐛 Bug

When I set the `run_hash` manually I get:
[code]

### To reproduce
[code]

### Expected behavior

The warning is clear per se, however the fix is not.
It comes from [here](https://github.com/aimhubio/aim/blob/ac930b63641c061e06ea82992def7afaa8553639/aim/sdk/base_run.py#L42).
The `Run` class doesn't have a `name` property, nor a parameter to its `__init__`.
Am I missing something?

### En

[2022-09-22 06:39] alberttorosyan commented on #2190
Hey @vakker! Adding the name argument to `Run.__init__` will resolve the issue. Meanwhile, can you try to set the `name` right after creating `Run` instance?
[code]

[2022-09-22 08:26] vakker commented on #2190
Yeah, setting it after the init works. But then is it used anywhere? The `Run` class doesn't seem to use the `name` property anywhere.

[2022-09-22 08:57] Pyrestone commented on #1971
@gorarakelyan Is this still on your roadmap? I would still find this feature very useful

[2022-09-22 10:28] alberttorosyan commented on #2190
@vakker the `Run.name` is displayed in UI (see attached screenshot), as well as can be used to filter runs, metrics when doing queries:
`run.name == "my run" and metric.context.subset == "train"`

<img width="1707" alt="Screen Shot 2022-09-22 at 14 25 19" src="https://user-images.githubusercontent.com/32957250/191723354-eecb60b7-e31c-4c84-946a-dc421e5ae836.png">

[2022-09-22 10:30] alberttorosyan commented on #2190
as for the setting the name via `__init__`, could you please change the issue description accordingly? alternative would be to submit the new feature request and close this one.

[2022-09-22 10:38] alberttorosyan commented on #2183
@YodaEmbedding, regarding this:

what about adding named constructor(s) (classmethod to create `Distribution` object) which will initialize and set properties of the newly constructed object? this will allow to"offload" some of the interface form `__init__` method.

[2022-09-22 10:38] alberttorosyan commented on #2188
could be related to the following comment: https://github.com/aimhubio/aim/issues/1246#issuecomment-1253969553

[2022-09-22 19:58] Pyrestone commented on #2188
I get the same issue
[code]
when copying runs from a 3.11.2 instance to another machine which is also running aim 3.11.2

Similar behavior on 3.13.3.

[2022-09-22 20:07] Pyrestone commented on #2117
I recommend using a `screen` instance:
e.g.:
[code]

hope this helps.

[2022-09-22 20:33] agroideas opened #2191 "Can't run Aim UI on JupyterHub notebook"
Hello, just starting with aim, seems great!

I'm trying to run the UI on TLJH on premise without success. I did the instalation and init using Jupyter terminal.

%load_ext aim
%aim up
[code]

In the same notebok I run:

<img width="643" alt="Screen Shot 2022-09-22 at 17 32 39" src="https://user-images.githubusercontent.com/26013564/191845502-6d37f4ab-a904-4312-8754-0c73074f8089.png">

The dir .aim

[2022-09-22 20:58] rubenaprikyan commented on #2191
Hey @agroideas, thanks for the question.
Could you please share the installed version of aim ?

[2022-09-22 21:03] agroideas commented on #2191
Hi!
Aim v3.13.3

[2022-09-22 21:06] agroideas commented on #2191
More info, I tried to get Aim version with
!aim version
in a notebook cell and yields:
/bin/bash: aim: command not found

But in Jupyter console works.

<img width="643" alt="Screen Shot 2022-09-22 at 18 05 26" src="https://user-images.githubusercontent.com/26013564/191850931-46eb2a63-6c36-4a48-9a6c-13b0c0c06667.png">

[2022-09-22 23:00] YodaEmbedding commented on #2183
Attempt 2:

[code]

[2022-09-23 03:47] vikigenius opened #2192 "Ideal workflow for large scale training and self hosted servers"
## ❓Question
Let's say I have two AWS instances. I use one for training and another to serve metrics. The reason why is because the training machines are expensive and I don't want to use them for viewing metrics and serving AIM UI etc.

So my initial idea is to use aim upload feature to upload the runs to an s3 bucket
`aim upload s3://path_to_runs`

So now I would like to go to my dedicated serve

[2022-09-23 08:52] gorarakelyan commented on #1971
@Pyrestone sorry for a late reply.

It has been tough weeks in terms of number of critical issues and enhancements that we tried to build and ship for the community. Sometimes we are forced to prioritize even between critical issues.

Currently we are really packed with issues for this and for the next week. The next week particularly is occupied, as we are planning to release Aim v3.14.0 (with re

[2022-09-23 10:59] rubenaprikyan commented on #2191
Seems this is specific to your environment, `%load_ext` command failed as well, since aim is not found in your notebook environment. I would suggest to check if  terminal and notebook envs are different then try to install aim with notebook cell, `!pip install aim` to install it on the notebook environment.

[2022-09-23 15:02] vikigenius commented on #2192
@gorarakelyan  Ok thanks, this is a great feature, I will give it a go.

To clarify, I use the pytorch_lightning integration and realize that aim takes over the checkpoint storage. Does running a remote server mean that the entire checkpoint is sent over grpc to the remote server? Isn't that inefficient?

[2022-09-23 22:28] vikigenius opened #2194 "Incorrect storage behavior with aim remote server and pytorch lightning integration"
## 🐛 Bug

When pointing to a remote location using pytorch lightning aimlogger
aim creates local directories with weird names

### To reproduce
[code]
This creates 2 folders in the current directory
[code]
And another one

[code]

### Expected behavior
All the runs should be communicated with server. The current directory should have a checkpoint file like `.aim/exp1/<run_hash>/checkpoints/epoch=5

[2022-09-23 22:35] mihran113 commented on #2194
hey @vikigenius! Thanks for the report. The issue with the 2nd directory is actually fixed already, the fix will be shipped with `aim v3.14.0`.
https://github.com/aimhubio/aim/pull/2179
Here is the PR with the fix.
We'll check what we can do about the naming of the checkpoints directory.

[2022-09-23 22:46] vikigenius commented on #2194
Thanks @mihran113 I just tested #2179 and now it is just the one directory created.

But like you said it has the name `aim:/34.16.21.180:53800/.aim/*`

[2022-09-24 13:24] Pyrestone commented on #1971
Hi @gorarakelyan, I understand that it's more important to focus on usability breaking issues first, (such as #2188 i presume?)
It's more important to me as well to have a stable, working, and portable version of aim than having fancy features.

I'm thankful for all the great work you and the team are doing on aim :pray:, keep going!

[2022-09-25 09:31] gorarakelyan commented on #2192
@vikigenius Aim does not provide a way of tracking checkpoints at this moment. May I ask you how you track the checkpoints?

[2022-09-25 17:59] vikigenius commented on #2192
@gorarakelyan AIM does not provide a way to track checkpoints, but it still takes over the storage. WIthout AIM, the checkpoints seem to go into the`lightning_logs` directory. But as seen in the issue https://github.com/aimhubio/aim/issues/2194

With AIM it removes checkpoints from that directory and keeps it in it's own created folders.

Generally I don't have a workflow for managing checkpoints.

[2022-09-25 18:58] #2152 closed

[2022-09-25 18:58] #2175 closed

[2022-09-25 19:32] mihran113 commented on #2158
hey @Aonnghus! Sorry for the late response. Taking into consideration the fact that the performance degradation was started from `v3.12.0`, our guess is that it might have to do something with the new locking mechanism we introduced (we started to use `SoftFileLock` instead of `FileLock` for some filesystems). We have released a `dev` version of aim which forces to use `FileLock`s only if `__AIM_F

[2022-09-25 20:23] roubkar commented on #1994
Hey @Sharathmk99, the fix for this issue has been shipped with `v3.13.4`.
To upgrade please run `pip install aim --upgrade`

[2022-09-26 07:59] Aonnghus commented on #2158
Hello @mihran113. That was it! Forcing the use of FileLock solved my performance issues. Thank you so much!

[2022-09-26 09:01] mihran113 commented on #2158
Hey @Aonnghus. Glad that helped!
One more question: have you ever encountered warnings like this when using aim version > 3.11.2?
[code]

[2022-09-26 09:12] Aonnghus commented on #2158
Yes such warnings appeared in stdout

[2022-09-26 09:17] mihran113 commented on #2158
Got it. Thanks! We'll include this change in the `v3.14.0` as well, as a workaround for now.
In the meanwhile we'll try to improve the filesystem identification mechanism, as clearly `FileLock`s can be used for a case that you've described, but we still opt to use `SoftFileLock`s.

[2022-09-26 09:31] Aonnghus commented on #2180
Hello @VkoHov. The images I'm tracking are directly created with aim.Image from torch tensors, with options `format="png"` and `optimize=True`. Their size is 256x256.
I cannot send you the real data for confidentiality issues, but I created a dummy run with the same image parameters, and it also causes the bug to appear.
I'll send it to you through Slack

[2022-09-26 10:53] tmynn opened #2199 "Can't hover on a line chart when metrics with "nan" values are tracked"
## 🐛 Bug

When tracking "nan" values for a metric the corresponding line chart becomes inactive. The issue mostly occurs when live-update is on.

### To reproduce

1. Start tracking some metrics with "nan" values
2. Open Metrics Explorer
3. Turn on Live Update
4. Try to hover on the chart

### Expected behavior

To be able to hover on the chart and interact with it without issues.

### Environment

[2022-09-26 11:39] VkoHov commented on #2180
Hey @Aonnghus. Thanks for sharing the logs. Let me check it out and get back to you soon.

[2022-09-26 12:42] KaroMourad commented on #2199
Have found the same issue in Scatter plot.
Fixed the issue with separate PR.

[2022-09-27 06:14] alberttorosyan commented on #2183
@YodaEmbedding looks good! I think the next step would be to open a PR and test the changes to make sure everything works fine (including UI part)

[2022-09-27 08:05] alberttorosyan opened #2204 "Drop Python 3.6 support"
## Proposed refactoring or deprecation

As Python 3.6 reached it's EOL almost a year ago, need to mark it as deprecated and later remove the support.

### Motivation

Remove limitations on used third party libraries versions, functionality, etc.

[2022-09-27 10:31] rubenaprikyan commented on #2191
Hey @agroideas !
Have you had a chance to check my suggestion ?

[2022-09-27 10:46] rubenaprikyan commented on #2043
Hey @muellerzr !
Could you please provide  an exact(i.e. Chromium != Google Chrome)  information about your browser with version ?

[2022-09-27 12:25] gorarakelyan commented on #2145
@YodaEmbedding looks great! We are thinking about adding a more user friendly interface on the first place (settings page on the UI). But the source of truth will be a dotfile (like ones you shared), which will enable:
- more advanced configurations
- easy transferring configs to other projects
- sharing best practices with the community

I will make sure to keep you in the loop, as I noticed you

[2022-09-27 12:31] gorarakelyan commented on #1971
Thanks for the kind words and understanding @Pyrestone.

wrt #2188 yes: it is already in progress. The fix is planned to be shipped with Aim v3.14.0 at the end of this week. 🎉

[2022-09-27 14:16] gorarakelyan commented on #2192
@vikigenius have you considered integrating model versioning tools into your workflow? e.g. dvc, mlflow? Some community members have been using them along with Aim.

[2022-09-27 15:57] vikigenius commented on #2192
Thanks for the suggestion I will look into it. For now at least in the short term if the weird naming with remote can be solved for #2194 that will be great

[2022-09-27 21:33] jennifer12121 opened #2207 "Add grpc metadata to stub header"
## 🚀 Feature
 Is it possible to add an extension to the current RemoteTrackingServiceStub class to allow for grpc information to be passed as metadata to the stub header?

### Motivation
We are interested in being able to perform an access token call and with the current implementation, it does not allow metadata to be pass through the client.

### Additional Context

The RemoteTrackingServiceStub

[2022-09-28 07:26] alberttorosyan commented on #2207
Hi @jennifer12121! Thanks for the request 🙌
Would love to learn more details about your usage of remote tracking. What issues are you facing, which this functionality will help to resolve?

[2022-09-28 09:03] GeorgePearse opened #2209 "Integration with Optuna"
## 🚀 Feature

Optuna is one of the most popular hyperparameter optimization (HPO) frameworks. Important that Aim properly separates trials for experiments while still providing a form of grouping for the full experiment.

Must be able to work with multi-gpu training (e.g. a trial on each GPU)

### Motivation

One of the most valuable uses of an experiment tracker is quickly sifting through the man

[2022-09-28 11:20] GeorgePearse opened #2210 "Store pytorch-lightning profiling output"
## 🚀 Feature

pytorch-lightning have this nice profiling tool. I'd like to store this with the rest of my experiment tracking, haven't seen many tools doing that well. https://pytorch-lightning.readthedocs.io/en/1.6.1/advanced/profiler.html

Ideally you'd want it to log the output of the first few epochs, and not wait until the training run is complete.

### Motivation

This is the sort of thing w

[2022-09-28 15:23] gorarakelyan commented on #2192
@vikigenius we are already looking into it!

[2022-09-28 16:16] tmynn commented on #2209
hey @GeorgePearse, great suggestion! I will take it over on the next week. Also will keep you in the loop, as I believe your experience with running trainings on Optuna will be a huge help in figuring out the right integration design and experience 🙌

[2022-09-28 22:42] vikigenius opened #2211 "Pytorch lightning logs disable progressbar tracking"
When using the pytorch lightning integration the logs section is completely polluted with the progressbar. How do I avoid this?

![scrot_20220928_184420](https://user-images.githubusercontent.com/12724810/192901278-1fb14a52-e1ac-4bc7-8bf8-be338cd6280c.png)

[2022-09-29 07:03] alberttorosyan opened #2212 "Runs Explorer query fails when Run has no logged params"
## 🐛 Bug

### To reproduce

1. Run the following script:
[code]

2. Open Aim UI and go to Runs Explorer. The following Error is thrown:
[code]

### Expected behavior

Runs query to execution without errors

### Environment

- Aim Version (e.g., 3.13.4)

### Additional context

[2022-09-29 09:55] gorarakelyan commented on #1509
Closing this issue. If there are any issues/questions/requests please feel free to submit separate issues.

[2022-09-29 09:55] #1509 closed

[2022-09-29 09:57] gorarakelyan commented on #422
Closing this issue, as it is resolved. @HoltSpalding if it is not working as expected or there are more suggestions, please feel free to submit a new issue.

[2022-09-29 09:57] #422 closed

[2022-09-29 09:59] gorarakelyan commented on #1879
Closing this issue, as it has been shipped. @timokau pls feel free to reopen this if there are still any issues with collecting git info.

[2022-09-29 09:59] #1879 closed

[2022-09-29 10:00] gorarakelyan commented on #1479
Closing this issue.

[2022-09-29 10:00] #1479 closed

[2022-09-29 10:01] gorarakelyan commented on #1779
Closing this issue, as it has been shipped. @sdesrozis pls feel free to reopen this issue, if there are still issues with converting matplotlib scatter figures.

[2022-09-29 10:01] #1779 closed

[2022-09-29 11:45] gorarakelyan opened #2215 "Remove obsolete test examples"
## Proposed refactoring or deprecation

Remove obsolete test examples located at `examples/tests`.

### Motivation

Those were scripts to manually test Aim features. Also the majority of them uses Aim v2 API.
These kind of scripts should be kept somewhere else.

### Pitch

Remove `examples/tests` directory.

[2022-09-29 16:38] mahnerak commented on #2192
@vikigenius There's a design issue on pytorch-lightning side: they ask the serialization directory path from **the logger** and then it just dumps the checkpoints.
1. When there are multiple loggers enabled, it is unclear which will work.
2. Handling checkpoints is not possible right now because they directly write on the path the logger provided.

This issue happens if you use any logger other th

[2022-09-29 19:25] mihran113 commented on #2158
hey @Aonnghus. One more question regarding your setup, what protocol did you use to mount your home directory?

[2022-09-29 20:23] vikigenius commented on #2192
@mahnerak currently I don't use any LightningCLI integrations. I just use a single logger like this directly passed to the trainer

[code]

[2022-09-30 08:23] Aonnghus commented on #2158
`mount` command gives the following output concerning the home directory:
`<some IP>:<some remote directory> on /home type nfs rw,nosuid,nodev,relatime,vers=3,rsize=65536,wsize=65536,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,local_lock=none,addr=<some IP>)`

[2022-09-30 18:32] roubkar opened #2224 "Update the list of integrations in README"
## 📚 Documentation

Add the following items to the integrations list in README:
- KerasTuner
- CatBoost
- fast.ai
- LightGBM
- PyTorch Ignite

[2022-10-02 17:51] #2224 closed

[2022-10-02 20:32] rubenaprikyan opened #2230 "Add documentation for Figures explorer"
## 📚 Documentation

Add documentation for `Figures` explorer.

### Motivation

Provide users better knowledge about `Figures` explorer.

[2022-10-03 10:29] gorarakelyan commented on #2211
@vikigenius this issue may occur when two (or multiple) progressbars are streamed to stdout. Is this the case? How many progressbars are displayed in the terminal?

[2022-10-03 11:03] GeorgePearse commented on #2210
Think an "Aim" profiler could be made.

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/47161914/193562091-1f089158-dffd-4f6a-94ec-c6381e0b867e.png">

[2022-10-03 13:56] vikigenius commented on #2211
How do you mean multiple? There are multiple progress bars in the sense that there is one for training and one for validation, there are also a few initially for downloading models etc.

[2022-10-04 06:25] alberttorosyan commented on #2190
Hey @vakker! Sorry for late response; somehow missed your last comment. I think something like this would be a good match:
`Add support for setting Run name via Run.__init__`

[2022-10-04 15:29] GeorgePearse opened #2240 "Bug in run view. Type error."
## 🐛 Bug

![image](https://user-images.githubusercontent.com/47161914/193861345-f1ab324f-bead-43ff-91d0-c4c202a0e5f9.png)

[code]

### To reproduce

Using with pytorch-lightning. Logging things like &s in class material names (I log the class label list to my experiment tracker)

### Expected behavior

No bug

### Environment

[code]

[2022-10-06 09:53] mihran113 opened #2247 "Enable tracking of jax numpy arrays"
## 🚀 Feature

Enable auto conversion to python float inside `track()` method for jax device arrays.

### Motivation

This will ease the process on user side and handle the conversion into pythonic types automatically.

### Pitch

In `aim/sdk/num_utils.py` `convert_to_py_number()` method can be modified to also convert arrays of type `jaxlib.xla_extension.DeviceArray`.

[2022-10-06 13:15] vakker commented on #1510
@piojanu definitely +1 for your example.
Currently I need to go down to the list to see the legends, and it's really hard to map them back:
![group](https://user-images.githubusercontent.com/3268882/194322207-97f6b2e4-6abf-45b9-be02-76f14533849e.png)

It would be amazing if there was a legend that showed the colour and linestyle for the different groups.

[2022-10-06 14:39] arsengit opened #2249 "Scaling up with UI Kit v2: Improving user experience and streamlining design"
## 🚀 Feature

Develop a new UI Kit for better performance and scalability

### Motivation

As our project continues to grow, we've noticed that our current UI Kit using `Material UI` is becoming more difficult to maintain and customize. We believe that creating a new UI Kit using `Radix` UI and `Stitches` packages will provide better performance, scalability, and customization capabilities.

### P

[2022-10-06 17:40] #1684 closed

[2022-10-06 17:40] #1967 closed

[2022-10-06 17:40] #2005 closed

[2022-10-06 17:40] #2091 closed

[2022-10-06 17:40] #2099 closed

[2022-10-06 17:40] #2135 closed

[2022-10-06 17:40] #2144 closed

[2022-10-06 17:40] #2149 closed

[2022-10-06 17:40] #2186 closed

[2022-10-06 17:40] #2199 closed

[2022-10-06 17:40] #2204 closed

[2022-10-06 17:40] #2212 closed

[2022-10-06 17:40] #2215 closed

[2022-10-06 17:40] #2247 closed

[2022-10-06 18:05] #2146 closed, assigned to rubenaprikyan

[2022-10-06 18:07] gorarakelyan commented on #1994
Closing this issue. @Sharathmk99 pls feel free to reopen this, if there are still any perf issues on the run page.

[2022-10-06 18:07] #1994 closed

[2022-10-06 19:38] roubkar commented on #2053
Hey @djwessel, this feature has been shipped with `v3.14.0`.
Upgrade aim to use it: `pip install aim --upgrade`

<img width="474" alt="Screen Shot 2022-10-06 at 23 35 25" src="https://user-images.githubusercontent.com/9951653/194403571-2ed5f6e3-e60b-4a19-a0db-13212237d6d8.png">

[2022-10-06 19:45] arsengit opened #2253 "Remove current release duplication from the changelog section on the Dashboard page"
## 🐛 Bug

The current release note displayed twice in the changelog section of the Dashboard page

### To reproduce

Switch to aim release 3.13.4 and see the changelog section on the Dashboard page

### Expected behavior

Display the current release one time.

### Environment

- Aim Version (e.g., 3.14.0)

### Additional context

<img width="320" alt="Screen Shot 2022-10-06 at 23 26 58" src="https

[2022-10-07 06:24] YodaEmbedding opened #2255 "Run metrics are empty for runs copied via `aim runs cp`"
## 🐛 Bug

Aim run metrics at http://localhost:43800/runs/*/metrics show the metric names, but their plot contents are empty after running `aim runs cp` to existing repo destination.

### To reproduce

[code]

Navigate to http://localhost:43800/runs/e4e6d4d5e5c59c69f3bd7be2/metrics

Also, just for fun:

[code]

Output for source repo:
[code]

Output for destination repo:
[code]

### Expected behavi

[2022-10-07 11:05] #2164 closed

[2022-10-07 12:56] Aonnghus commented on #2158
I just installed `v3.14.0`, but the issue persists. Has the workaround been implemented as part of this release?

[2022-10-07 15:25] Castavo opened #2256 "Run.metrics() is broken"
## 🐛 Bug

The `Run.metrics()` method is unusable. I believe it is because in the method, `SingleRunSequenceCollection`is initialised without the `seq_cls` argument.

### To reproduce

I used this short script, to try to retrieve the values from a Run:

[code]

I got the error message:

[code]

### Expected behavior

I would have expected the snippet given in the method's documentation to be functi

[2022-10-07 18:58] kir0ul opened #2258 "Use Aim from Julia?"
## 🚀 Feature

Would it be possible to use Aim from Julia?

### Motivation

I'm starting to get lost in tracking my ML experiments in Julia and would really benefit from having a dedicated software to help me.

### Pitch

I guess one would have to create an `Aim.jl` wrapper.

### Alternatives

[DrWatson](https://juliadynamics.github.io/DrWatson.jl/dev/), but features are a lot more limited.

[2022-10-07 19:09] mahnerak commented on #2158
@Aonnghus I have couple of steps that will help us confirm the bug and fix it:
1. Stop all the processes that may use `aim` in some way:
    * Training processes
    * Aim servers (launched with `aim up ...` or `aim-watcher ...`)
2. Run `find PATH/TO/.aim -name '*.softlock'`
    * Verify that there's `.aim/locks/index.softlock`
    * Please share with us the output if possible; you can make sure t

[2022-10-07 21:14] vishalghor opened #2259 "Intereactive RPCerror during distributed training"
## 🐛 Bug
I am trying to use aim remote serrver to track experiments. I'm able to use the aim remote server without any issues when training with a single GPU but I get an rpc error when using distributed training.
[code]

### To reproduce

train on distributed flow along with remote aim server.
### Expected behavior

Logs training for the distributed training same as single-gpu training to the rem

[2022-10-08 22:46] YodaEmbedding opened #2260 "Query history suggestions"
## 🚀 Feature

History suggestions for queries made in the Runs explorer.

### Motivation

Easier to reuse previous queries.

### Pitch

Query history in search bar. Perhaps only if the query search bar is empty? Fish-like suggestions would also be cool but probably overkill

### Alternatives

N/A

### Additional context

N/A

[2022-10-09 19:02] patrickvonplaten opened #2261 "`aim up` is not user-friendly when training on remote machine"
## 🚀 Feature

More user-friendly way of showing results UI when training on remote machine

### Motivation

Most ML training is done on remote machines which means that the quickstart tutorial breaks once one does

[code]

because the displayed website is not available. To make it available once has to set up a remote tunnel which is not something most ML engineers know how to do.

### Pitch

Make

[2022-10-09 19:12] gorarakelyan commented on #2256
hey @Castavo thanks for reporting! @alberttorosyan could you pls take a look?

[2022-10-09 19:16] gorarakelyan commented on #2259
thanks @vishalghor. looking into it.

[2022-10-09 19:21] gorarakelyan commented on #2260
@YodaEmbedding In Aim v3.14 (released last week) the last 3 searches are displayed on the left sidebar in the revamped home page. Though agree that displaying search history in search bar would be also helpful! Thanks for the feedback.

@arsengit is this feature a low hanging fruit? I believe the main functionality has been implemented for home, hasn't it?

[2022-10-09 20:14] gorarakelyan commented on #2261
Hey @patrickvonplaten, thanks for the kind words! 🙌

We are currently focused on improving e2e experience and definitely this is a critical point. Thanks for sharing it in such detail. We will prioritize and resolve it asap. I will share the progress here.

[2022-10-09 20:39] gorarakelyan commented on #2258
@kir0ul thanks for submitting this issue!

Yes, probably the fastest way would be implementing a Julia wrapper. I just came across [PyCall package](https://github.com/JuliaPy/PyCall.jl) which enables running python commands from Julia. @tmynn could you please take a look at this?

[2022-10-09 20:58] GeorgePearse commented on #2210
Here's tensorboard version https://pytorch.org/tutorials/intermediate/tensorboard_profiler_tutorial.html

[2022-10-10 06:39] tmynn commented on #2258
Hey @kir0ul, great suggestion! I will take it over in the coming week. Also will keep you in the loop, as I believe your experience with Julia will be a huge help in figuring out the right integration design and experience 🙌

[2022-10-10 06:59] alberttorosyan commented on #2256
hey @Castavo ! the issues was indeed the `seq_cls` argument not being initialized. will push the branch with the fix shortly.

[2022-10-10 07:36] Aonnghus commented on #2158
Hi @mahnerak! I did as you said, but couldn't find any `.aim/locks/index.softlock`. Instead, there is a `.aim/locks/run_index.softlock`.
Whole output of the `find` command is as follows:
[code]
I removed all those files, installed `v3.14.1` but the issue is still there

[2022-10-10 07:58] Aonnghus commented on #2158
I tried to move my `.aim` folder to a `ext4` partition with `.softlock` files removed. I no longer have the warning message, however launching `aim up --repo /ext4/path` is still very long (~25 seconds)

[2022-10-10 07:59] VkoHov commented on #2060
Hey @ilisparrow, this feature was released with v3.14.0, please try it out and let me know if it works as expected.

[2022-10-10 08:00] VkoHov commented on #2054
Hey @djwessel, this feature was released with v3.14.0, please try it out and let me know if it works as expected.

[2022-10-10 16:32] KaroMourad opened #2265 "Add syntax error highlighting on Figures explorer"
## 🚀 Feature

Add syntax error highlighting for pipeline phases on Figures Explorer

### Motivation

To have the ability to easily find the syntax errors in a query input of the Figures explorer, we need to visualize and highlight syntax errors, as we did in other explorers: Metrics, Params, Scatters, Images

### Pitch

- handle and set searching errors in the pipeline engine (pipeline phase)
- pr

[2022-10-11 08:15] alberttorosyan commented on #2255
Hey @YodaEmbedding ! Just released the dev version of Aim containing the fix for this issue and other related issues (#2188 and https://github.com/aimhubio/aim/issues/1246#issuecomment-1253969553). May I ask you to install the dev package and try out the fix?
`pip install aim==3.14.2.dev1`

[2022-10-11 08:17] alberttorosyan commented on #1246
Hey @vakker! The dev version containing multiple fixes for `aim runs cp` command has been released. May I ask you to
`pip install aim==3.14.2.dev1` and try out the fix?

[2022-10-11 08:21] fg91 opened #2267 "Cannot visualize run in UI when a tag is added"
## 🐛 Bug

When running a remote tracking server (v3.14.0) and adding a tag via `run.add_tag("foo")`, I get the following error:

[code]

<img width="1420" alt="Screenshot 2022-10-11 at 10 15 45" src="https://user-images.githubusercontent.com/36511035/195037051-82fe1d5c-4e3c-47dd-85b3-2f5fb463042c.png">

### To reproduce

### Expected behavior

### Environment

- Aim Version 3.14.0
- Python version

[2022-10-11 09:41] YodaEmbedding commented on #2261
Depending on the remote, you may be able to set `--host=0.0.0.0` (i.e. "bind all incoming connections").

On the remote server:
[code]

Then, in from your client browser navigate to either:

http://remote_address:16007/
http://username@remote_address:16007/

[2022-10-11 09:51] alberttorosyan commented on #2267
Hey @fg91! Thanks for reporting the issue. Looking into it.

[2022-10-11 11:03] alberttorosyan commented on #2158
@Aonnghus, the `.repo_lock` seems to be one causing long uptimes. May I ask you to run the following script and check the runtime? If it's ~ 10 seconds, than `.repo_lock.softlock` is indeed the one causing this.

[code]

[2022-10-11 12:45] KaroMourad opened #2269 "Active points overlap in-progress training runs indicators in a LineChart"
## 🐛 Bug

Active points overlap in-progress training runs indicators (pulsating points) in a LineChart.

### To reproduce

1. need to have in-progress training runs
2. open Metrics explorer
3. hover over LineChart
4. explore the in-progress runs indicators overlapping issue by active points in LineChart

### Expected behavior

Expected to not overlap the active runs indicators

### Environment

-

[2022-10-11 14:16] fg91 opened #2270 "Run cannot be ended if process crashed"
## 🐛 Bug

When a training script is canceled before completion or when it crashes, the run remains in `In Progress` state and cannot be deleted, even when clicking `Delete` in the run's settings tab.

<img width="1440" alt="Screenshot 2022-10-11 at 16 14 41" src="https://user-images.githubusercontent.com/36511035/195115949-77dfdcd0-09f6-423e-a9c2-bf881b0f418e.png">

### To reproduce

### Expected

[2022-10-11 14:27] fg91 commented on #2270
Yes, sure, after clicking the delete button, I get:
[code]

[2022-10-11 18:27] patrickvonplaten commented on #2261
Cool - I'll try this :-)

[2022-10-11 19:03] tmynn commented on #2258
Hey @kir0ul, honestly speaking I am not familiar with the programming language Julia. However I have just found out that there is a way to import any Python package from a Julia script.
I have just tested the following script and it seems to be behave as expected:
[code]

Note: If you get an error on the last line set the python path as follows after which rebuild the env:
[code]
I believe one can

[2022-10-11 22:34] vishalghor commented on #2259
@gorarakelyan after specifically setting the tracking to rank_0(which I wasn't earlier) to avoid any issues due to not setting it. Post that I currently get this message when using distributed training.
[code]

[2022-10-12 07:46] fg91 opened #2272 "Logging to remote tracking server becomes very slow when logging from larger number of parallel runs"
## 🐛 Bug

In order to assess whether Aim can help us manage our large number of (parallelly running) experiments, we deployed a central tracking server instance and mocked logging from parallel runs to it. We observe that e.g. for ~100 parallel runs, a script that takes ~10s to run for a single instance all of a sudden takes in the order of ~10min.
We explored different resources and numbers of wo

[2022-10-12 07:51] alberttorosyan commented on #2272
Hey @fg91! Thanks for bringing this up and sharing the K8s configs 🙌
We are currently working on Aim Remote Tracking scalability.
The main issue is that gRPC Python library does not scale very well due to GIL. The solution we're working on will run multiple gRPC servers and handle requests routing (basically do vertical scaling). #2160 meant to address exactly that.

[2022-10-12 09:40] Pyrestone commented on #1246
@alberttorosyan looks good, haven't run into any issues when tracking a run in one repo in 3.14.2.dev1 and copying and opening it in another. Will have to check with older repos.

Is the storage format compatible with older versions?
i.e. is it safe to upgrade a repo on a server from an older aim version to this one without losing data?
also, are there any steps necessary for updating the repo fil

[2022-10-12 11:17] Pyrestone commented on #2255
just to reference my comments in an open issue: I reported a bit on this in https://github.com/aimhubio/aim/issues/1246#issuecomment-1275881485

[2022-10-12 11:24] tmynn commented on #2209
Hey @GeorgePearse I have a great news! The Optuna integration is now available 🤩. We have created a callback to keep track of the experiments. Please take a look at the integration doc here: https://aimstack.readthedocs.io/en/latest/quick_start/integrations.html#integration-with-optuna
And feel free to let me know if there is something that we might need to add. 🙌

[2022-10-12 16:54] twni2016 opened #2274 "`aim up`: disable corrupted runs caused by `rsync`"
## 🚀 Feature

In `aim up`, disable the query / visualization of the unfinished runs that are corrupted.

### Motivation

When `rsync` the `.aim` folder from a remote server into a local machine, unfinished runs are very likely to be corrupted, so they cannot be queried in `aim up`. This causes the `aim up` to fail to launch, without showing any existing runs that are already finished.

[2022-10-12 17:04] kir0ul commented on #2258
Hey @tmynn, I'm still a beginner with Julia, but as far as I can tell by having a quick look at [other Julia wrappers](https://juliapackages.com/packages?search=wrapper), it looks like it is what other people are doing to wrap Python code from Julia, see for example [TensorFlow.jl](https://github.com/malmaud/TensorFlow.jl) or [Seaborn.jl](https://github.com/JuliaPy/Seaborn.jl).

[2022-10-12 17:15] alberttorosyan commented on #1246
Normally you do not have to run any upgrade script/command. There's a data format change in Aim 3.11 but it's backwards compatible. However, it is highly recommended to do the upgrade, especially if there are long metric sequences (i.e. 100K+ steps) to avoid negative performance implications. As you correctly noted in other comment, the CLI for upgrading runs is:
`aim storage upgrade 3.11+ ...`

[2022-10-13 17:21] twni2016 commented on #2274
A follow-up feature request: could we preserve the `active` status of existing runs after `rsync` new runs? Now all the previous archived runs become active after `rsync`.

[2022-10-14 15:38] twni2016 opened #2279 "`.repo_lock.softlock` could not be acquired when multiple runs are created"
## 🐛 Bug

When `sbatch --ntasks n` with `n` larger than 1, there is race between multiple threads, each of which wants to create a run. Sometimes (~10%) the race will cause the error of `.repo_lock.softlock` could not be acquired.

### To reproduce

Run the slurm command `sbatch --ntask 4` (any large number) for a python script, and it might cause an error when creating a run `run=Run()`:
[code]

[2022-10-16 19:22] gorarakelyan commented on #2279
@twni2016 Aim has a natural limitation which restricts to write to **the same** run from multiple **parallel** clients. It seems `ntasks` argument runs parallel threads, which is causing the issue. Is there a way in slurm to configure the workflow to initialize the aim.Run only once and then use it as a shared resource between the threads?

@alberttorosyan tagging you so you are aware of this thre

[2022-10-16 19:27] gorarakelyan commented on #2274
hm weird.. @alberttorosyan are run props (such as active) stored in run containers or in sqlite db? might it be because of failing to sync sqlite db?

[2022-10-18 06:44] alberttorosyan commented on #2274
@gorarakelyan as the runs properties are stored in sqlite db, the changes on a destination side of `rsync` are overwritten. This can be resolved by skipping `.aim/run_metadata.sqlite`, however, the other changes, such as new runs information will not be synced.
The root cause of the issue is that `.aim` repos are not supposed to be synced in this way.

@twni2016, as I understand, accessing Aim UI

[2022-10-18 08:53] Pyrestone commented on #2270
BTW the same happens (same error message) if you try to `aim runs cp` a run killed in this way (SIGTERM or SIGKILL)

I would presume that `aim storage reindex` would fix this, but it does nothing about that.

[2022-10-18 11:32] Pyrestone commented on #2255
BTW: @alberttorosyan I also found that the "run.description" string is always empty in copied runs in `3.14.2.dev1`, but should be copied along.

[2022-10-18 14:56] we-taper commented on #2171
Have the same issue here. I just load the `Run` manually and make it in-active by hand:
[code]

[2022-10-18 20:52] AnH0ang opened #2282 "Accessing metrics of a run fails"
## 🐛 Bug

When trying to access the metrics of an aim run using the sdk an error is thrown.

### To reproduce

[code]

This returns:

[code]

### Expected behavior

The `metric` function should return a iterable of all metrics without error.

### Environment

- Aim Version: 3.14.1
- Python version: 3.8.9
- pip version: 22.3
- OS: MacOS 12.5.1

### Additional context

[2022-10-19 06:56] alberttorosyan commented on #2282
@AnH0ang seems this is a duplicate of #2256

[2022-10-19 07:15] AnH0ang commented on #2282
This issues is close for being a duplicate of #2256. Thanks you pointing that out @alberttorosyan.

[2022-10-19 07:15] #2282 closed

[2022-10-19 15:37] vmichals commented on #1779
I think it's not fixed yet. I still get the same error message.
Here's the (slightly) modified code:
[code]

Here's the traceback
[code]

[2022-10-20 08:45] Pyrestone commented on #2270
addendum: when the machine crashed this also happens and the run remains "active" indefinitely

[2022-10-20 08:46] Pyrestone commented on #2171
Would be cool if `aim storage reindex` could fix this, as it is - in essence - a stalled run which `reindex` claims to detect and fix.

[2022-10-20 13:53] #2053 closed

[2022-10-20 13:54] gorarakelyan commented on #2060
@ilisparrow closing this issue as the enhancement has been shipped. Please feel free to reopen it in case of any issues. 🙌

[2022-10-20 13:54] #2060 closed

[2022-10-20 13:54] gorarakelyan commented on #2054
@djwessel closing this issue as the enhancement has been shipped. Please feel free to reopen it in case of any issues. 🙌

[2022-10-20 13:54] #2054 closed

[2022-10-20 13:54] #2040 closed

[2022-10-20 13:56] gorarakelyan commented on #462
@karan2801 @vishalghor closing this issue as the integration with fastai has been shipped!

[2022-10-20 13:56] #462 closed

[2022-10-20 13:57] gorarakelyan commented on #2240
Closing the issue as the fix has been shipped and confirmed!

[2022-10-20 13:57] #2240 closed

[2022-10-20 13:58] gorarakelyan commented on #2132
@jiyuanq the fix was shipped with Aim v3.14. Please check it out and let us know if everything works as expected. Otherwise, please feel free to reopen this issue 🙌

[2022-10-20 13:58] #2132 closed

[2022-10-20 15:27] VkoHov opened #2284 "Add the color formatting in the logs tab"
## 🚀 Feature

Implement the color formatting in the logs tab

### Motivation

The colored logs will simulate the terminal coloring and will adjust the readability of the logs

[2022-10-20 19:07] twni2016 commented on #2279
@gorarakelyan Sorry I don't quite get your point on initializing aim once for all the tasks. Because in my case each task is an independent run, which should be initialized separately?

[2022-10-20 23:17] ofermend opened #2287 "Remote heartbeat-watcher resource cleanup fails"
## 🐛 Bug

When remote heartbeat watcher tries to cleanup dead client resources the following exception is thrown:
Similar to https://github.com/aimhubio/aim/issues/2021, but this time it's in https://github.com/aimhubio/aim/blob/main/aim/ext/transport/heartbeat.py#L158.

### To reproduce

Create a remote run, force kill the process to trigger heartbeat watcher to cleanup resources. It's not super

[2022-10-21 10:23] arturspeiser opened #2288 "Can't run aim-watcher FileNotFoundError: config_empty.json"
Using a fresh install I can run a server and access the UI remotely just fine but trying 'aim-watcher --repo . start' returns:

### Environment
- Aim Version (e.g., 3.14.1)
- Python version 3.9
- debian 11

[2022-10-21 10:29] alberttorosyan commented on #2287
Hey @ofermend!
Thanks for reporting the issue. Looking into this.

[2022-10-21 13:17] arturspeiser commented on #2288
Thanks! The watcher is running now but something still seems to be amiss. `aim_run.report_progress(expect_next_in=60)`
breaks with:

[code]

[2022-10-23 15:05] JesseFarebro opened #2289 "Improvements to Run Progress Reporting"
## 🚀 Feature

There's the beginning of run progress reporting but I think this can be expanded upon in a couple of useful ways.

The current progress reporting API is a little opaque in that you can't actually report the progress of your run. What I expected was to be able to tell Aim how many total iterations my run will perform and be able to increment this counter.

Furthermore, a general-purpo

[2022-10-23 16:22] JesseFarebro opened #2290 "Polars Dataframe Backend"
## 🚀 Feature

Provide a Dataframe API using Polars to improve query performance.

### Motivation

Querying and working with large amounts of data in Aim using Pandas Dataframes could potentially be slow at times. It seems Aim processes queries sequentially from RocksDB (Perhaps this doesn't matter much as RocksDB is optimized for indexing? No need to scan?) and if you want to convert a large amoun

[2022-10-24 08:23] alberttorosyan commented on #2288
@arturspeiser are you using aim Remote Tracking?
Currently progress reporting is supported only for local storage.

[2022-10-24 09:25] arturspeiser commented on #2288
Yes, that explains it then. Given this issue (https://github.com/aimhubio/aim/issues/2270) I guess there is currently no good way to deal with crashed Runs that remain active?

[2022-10-24 09:26] bsridatta opened #2291 "Question: mnemonic run id instead of alphanum"
## ❓Question

Is there any plan to change the unique run id to more human readable name by default as W&B does?  Thanks!

From Weights and bias

If you do not explicitly name your run, a random run name will be assigned to the run to help identify the run in the UI. For instance, random run names will look like "pleasant-flower-4" or "misunderstood-glade-2".

[2022-10-24 09:31] gorarakelyan commented on #2290
Hey @JesseFarebro. Thanks for the recommendation! Definitely will look into it.

btw have you experienced perf. issues when working with dataframes of exported metadata so far? Is there a use case of fetching large volume of metadata at once? e.g. in case of metrics Aim by default fetches uniformly sampled 500-1000 points regardless tracked steps count. Are there any use-cases of fetching much mor

[2022-10-24 09:37] alberttorosyan commented on #2291
Hey @bsridatta! Thanks for the question.
Run ID (hash) is used in many aspects of aim implementation (including storage). We tend to keep it as now, since it allows to implement certain techniques (relying on hash being random and uniform).
However, for the purposes you mentioned, `Run.name` property can be used. It defaults to `"Run: <Run.hash>"`, but can be set manually.

[2022-10-24 09:47] alberttorosyan commented on #2289
Hey @JesseFarebro!
The method `report_progress` might be somewhat misleading. By design it should be used to detect Run failures/stuck Runs.
In general detecting these kind of issues in a distributed environment is not an easy thing to do. So the Run reports that it is "alive" and might not report any further actions for X seconds. The watcher process then will pick the Run as failed if the new "p

[2022-10-24 09:50] alberttorosyan commented on #2288
@arturspeiser yes; the implementation for more robust locking mechanism is now in progress. If you see the following warning message:
```Using soft file locks to avoid potential data corruption```
this is indeed the reason.

[2022-10-24 11:36] gorarakelyan commented on #2289
@JesseFarebro thanks for sharing in such detail! Brilliant idea!

This makes a lot of sense. Seems it is somewhat related to #2159 (Plugin to auto-capture the training run progress and remaining time to complete).

wrt the implementation API, as @alberttorosyan already mentioned the `report_progress` functionality is used for detecting and notifying on stuck runs, but I believe the interface can b

[2022-10-24 13:06] gorarakelyan commented on #2279
@twni2016 ah, my bad, for a moment I thought ntasks executes jobs in parallel threads.

Most probably this is purely related to the issue with runs locking mechanism, the fix is in-progress now. A similar issue was reported last week as well.
The plan is to release a patch fix in the coming days. I will let you know, once the fix is shipped.

[2022-10-24 14:27] gorarakelyan commented on #2211
@vikigenius sorry for a late reply. Could you please share more details on your setup (OS, PL version, python version, ..), so we could reproduce the bug?

[2022-10-24 14:48] bsridatta commented on #2291
Thanks for the super quick response! Got it.

I noticed that run could be named manually. One could simple use the python library that generates those names but you would want to ask check if ti already exists or just taken up by other run and so on. So was just curious. Thanks for the clarification.

[2022-10-24 14:48] #2291 closed

[2022-10-24 15:42] bsridatta opened #2293 "Can not fetch or discover runs on remote machine"
## 🐛 Bug

Can run aim up but no runs displayed.

### To reproduce

Running snippet from the docs -

[code]

### Expected behavior

The behavior should be identical to running on a local machine

### Environment

- Aim Version: Aim v3.15.0.dev20221024
- Python version: 3.8
- pip version: 22.3
- OS: Ubuntu 18.04.3 LTS
- Connecting via VSCode remote server (ssh tunneling)

### Additional context

Wor

[2022-10-24 16:00] bsridatta commented on #2293
Also noticed a pop-up once - "failed to fetch" not sure if its related

[2022-10-24 16:01] vikigenius commented on #2211
@gorarakelyan  Ok So I am using

python 3.10.4
pytorch-lightning 1.7.7
aim 3.14.1

Also additionally if this is relevant I am running my aim server on a completely different machine from the training instance.

[2022-10-25 01:18] JesseFarebro commented on #2289
@alberttorosyan in the example I gave above, i.e., you'll checkpoint a large model, maybe perform some type of expensive eval periodically, etc. you should just set `X` to be very large if you don't have a good idea of how long these things will take? Lots of factors could come into play that could cause some problems with the way this is defined. For example, on a shared cluster, I really have no

[2022-10-25 01:27] JesseFarebro commented on #2290
@gorarakelyan I haven't really pushed things to their limits. I'll give you my average use case.

In RL say I just benchmarked 5 methods on 57 environments each having 5 seeds. I'll have 200 points per run that I want to load in a Dataframe to plot with Seaborn. This will be 285,000 points alone. In addition to this, I'll need all the metadata associated with these runs. This is a pretty light use

[2022-10-25 11:29] bsridatta commented on #2293
Another observation that could help - Running a longer script and trying `aim up`  results in a permission error unlike the empty UI you get when no run is active.

[code]

[2022-10-25 18:36] twni2016 opened #2295 "Allow users to specify the line strokes / colors"
## 🚀 Feature

Allow users to change the colors and strokes in the charts with their preference (not by shuffling). In the table of runs, users can click the colors / strokes in the group column for specification.

### Motivation

In the line charts, users can only change the colors / strokes of curves by clicking the `shuffle` button. But sometimes users have their preferences on the styles. For e

[2022-10-26 08:14] gorarakelyan commented on #2295
@twni2016 thanks for the suggestion!
What do you think the expected behavior should be when updating the groups?
So for example metrics were divided into 3 groups - g0, g1, g2 based on hparams.learning_rate. What should happen when dividing the same set of metrics into 4 groups based on batch_size? Should the applied styles be reset?

[2022-10-26 11:11] bsridatta commented on #2293
Could someone confirm if this is an expected behaviour or if changing to an older version helps. Thanks!

[2022-10-26 12:09] gorarakelyan commented on #2211
@vikigenius thanks. will test it out and get back to you

[2022-10-26 12:22] gorarakelyan commented on #2260
@YodaEmbedding assigning this feature to the 3.16.0 milestone. Will share the progress here.

[2022-10-26 12:26] gorarakelyan commented on #2261
@YodaEmbedding that is much easier to setup. However, I think there might be security concerns, as the port will be open and anyone will be able to access and see training insights/results. Of course unless it is run inside a vpn or smth like that. Thoughts?

[2022-10-26 12:30] gorarakelyan commented on #2270
@Pyrestone @fg91 a more robust locking implementation is currently in progress, which should resolve all the above issues.

[2022-10-26 16:54] gorarakelyan commented on #2293
@bsridatta could you pls try to copy logs to a local machine and check if runs are properly displayed? and if those are dummy logs could you share the zip archive of .aim repo?

[2022-10-26 17:38] vishalghor commented on #2259
@gorarakelyan no I am tracking from only the node0/rank0 during the distributed training. Also, I have seen the error on single GPU training as well and I believe the issue could be similar to https://github.com/aimhubio/aim/issues/1297.
Maybe I haven't mentioned earlier but i'm using the aim remote server for tracking experiments(https://aimstack.readthedocs.io/en/latest/using/remote_tracking.htm

[2022-10-26 19:15] gorarakelyan commented on #2289
@JesseFarebro makes a lot of sense 🙌

[2022-10-26 19:21] twni2016 commented on #2274
@alberttorosyan Yes, I can use ssh forwarding now. Thank you for your suggestion!

But the corrupted runs still exist in the source `.aim` repo, e.g. `aim.sdk.errors.RepoIntegrityError: Missing props for Run` though they seem not to affect `aim up`.

[2022-10-26 19:22] gorarakelyan commented on #2290
@JesseFarebro is there a use case for retrieving all of the thousands points at once?
Could an alternative approach like sampling or range querying the points and exporting the dataframe of selected points be considered here?

[2022-10-26 19:37] twni2016 commented on #2295
@gorarakelyan I think it's better to keep the existing styles instead of resetting, to reduce the cognitive load of users caused by context switching.

[2022-10-26 21:16] twni2016 opened #2297 "Solid stroke mismatch in UI"
## 🐛 Bug

The solid line shown in the graph, is displayed incorrectly as a dashed line in the table.

### To reproduce

When I groupby the curves by stroke, the solid curve shown in the graph (see the screenshot below)

![Screen Shot 2022-10-26 at 5 06 14 PM](https://user-images.githubusercontent.com/20842215/198138734-dc54fa13-cb36-4374-81ef-109c168982c2.png)

is depicted as a dashed curve (the t

[2022-10-26 21:54] gorarakelyan commented on #2297
@twni2016 thanks for reporting, this is proper weird.
@roubkar is it even supposed to have `style="stroke-dasharray: 12, 3, 6, 3, 3, 3, 3, 3;"` stroke style?

[2022-10-27 01:56] cceyda commented on #2291
I was about to ask this exact thing. In my case I use the auto-generated run names while saving the model checkpoints. Having something human friendly helps. maybe a mix of human+hash: "pleasant-flower-435689"

[2022-10-27 07:14] roubkar commented on #2297
We have a fixed list of `stroke-dasharray`s:

[code]

@twni2016 seems you're using a custom list for dasharrays.

Anyway, it looks like the problem is in `LineChart` as the solid line should be rendered as dashed.
Will look into this and keep you updated on the progress.

[2022-10-27 10:17] bsridatta commented on #2291
@cceyda I think you could use something like https://github.com/beasteers/randomname to get a name, add random number as suffix, get another if already used for the existing runs. I think it should be straightforward to track if user has set a specific name instead of this. But there must be something I dont see. But true I for sure prefer something I can identify easily than a long hash

[2022-10-27 10:27] bsridatta commented on #2293
Hello @gorarakelyan Thanks for the response. I have changed to v3.14.1 and it worked yesterday, just that I couldnt open ui while a run is active - related to the repo and database lock. I have also tried to do run.close() but to no use.

Now tried again from scratch to give you an example and it seems to go back to not discovering runs. 🤷🏼

Now running the same toy script in the first comment wit

[2022-10-27 11:49] KaroMourad commented on #2297
Since we are processing stroke styles before rendering stroke badges in the table, these` stroke-dasharray`
`12, 3, 6, 3, 3, 3, 3, 3;`  value is valid.

Have found an issue with the processing part. Already fixed the bug related to 'stroke-dasharray: none' values.
@twni2016 If you could, please check out the branch `fix/fix-solid-stroke-rendering-issue-in-table` and let me know if the issue has be

[2022-10-27 17:11] Natlem opened #2302 "SSL Certificates generation"
## ❓Question
Hello there,

Is it possible to have a quick guide on how to generate and deploy SSL certs for (https://aimstack.readthedocs.io/en/latest/using/remote_tracking.html#ssl-support)
I think this would greatly help a lot of SSL newbies like me.

Thanks

[2022-10-27 19:53] gorarakelyan commented on #2302
@Natlem you can generate self-signed ssl certificates via openssl. See more details here: https://stackoverflow.com/questions/10175812/how-to-generate-a-self-signed-ssl-certificate-using-openssl

Please let me know if this helps.

[2022-10-28 10:41] vakker opened #2303 "Run hangs sometimes on close"
## 🐛 Bug

In some cases closing the `Run` hangs on some file operations.
E.g. if I run this it hangs on the `close`.
[code]
This seems to be due to some file corruption in the `.aim` directory, which might be due to syncing data between servers in a bad way.

If I try to kill it then this is the stack trace:
[code]

After I remove the `.aim` directory and start with a fresh one it's all good. Howe

[2022-10-28 11:23] gorarakelyan commented on #2297
@twni2016 the issue seems to be resolved. The fix will be shipped in a few hours time with a patch release.

[2022-10-28 11:24] gorarakelyan commented on #2293
@bsridatta thanks a lot. Looking into it.

[2022-10-28 11:25] gorarakelyan commented on #2293
The issue regarding file locks is in progress. Core contributors are working on it hard now to ship as soon as possible.

[2022-10-28 11:27] mihran113 commented on #2303
hey @vakker! Thanks a lot for the report. I would appreciate to have the link for `.aim` directory, cause it seems to be something specific. You can join our slack and DM me the link. (https://slack.aimstack.io/)

[2022-10-28 11:30] mihran113 commented on #2303
Could you please provide more details about this part? How are you syncing data between servers?

[2022-10-28 11:48] vakker commented on #2303
@mihran113 sent you a DM on Slack.
Regarding the syncing, I'm using [Unison](https://github.com/bcpierce00/unison/). I see some data corruption when I have Aim running on one server and another one is logging to the same directory.

[2022-10-28 11:54] bsridatta commented on #2293
@gorarakelyan That's awesome, thank you!

[2022-10-28 11:59] gorarakelyan commented on #2211
@vikigenius seems PL displays two progress bars in parallel, which brakes the functionality of capturing logs from stdout.

https://user-images.githubusercontent.com/13848158/198581771-45133843-cd8c-410b-83f5-e0740e6702a6.mov

(you can notice two progress bars displayed at each epoch's end)

will prioritize and resolve the issue.

[2022-10-28 12:21] mihran113 commented on #2303
@vakker had a look at the files. There's definitely a data corruption, which is causing the issue with `run.close()`. Can you please share a little more details about your setup? Do you just sync 2 directories, and on one the UI is running, and in the other some runs are logged? Did I get it correctly?

[2022-10-28 12:44] vakker commented on #2303
Yes, that's correct.
On server 1 I run the `aim` UI on server 2 I have a training run that's logging to `.aim`.
I have a git repo (lets say `project`) and then I run Unison on server 1:
[code]

The corruption might be because of Unison, or because of Aim, I'm not sure.
However, there should be some way to handle corrupted data in a more robust way.

[2022-10-28 13:14] Natlem commented on #2302
Hello @gorarakelyan,

Thanks for your replay. I tried to generate a certificate with the command provided in the link:
openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -sha256 -days 365 -subj '/CN={DOMAIN_NAME}/subjectAltName=IP:{SERVER_IPV4}'

I have an error on the server side:
E1028 13:12:42.106779379    2003 ssl_transport_security.cc:1847] No match found for server name: {SERVE

[2022-10-28 15:33] twni2016 commented on #2297
Thanks for a quick fix!

[2022-10-30 12:50] tmynn commented on #1779
Hey @vmichals sorry for late reply.

It is most likely an error caused by matplotlib version. What version are you using?
Could you please try to run it with matplotlib version >=3.5.3 ?

[2022-10-30 15:04] VkoHov opened #2307 "Implement the Audio explorer based on the base explorer."
## 🚀 Feature

Add the ability to search, filter, and compare audios of the runs using a common search mechanism.

### Motivation

The easy way to compare audios of the several runs.

[2022-10-30 15:35] #2269 closed

[2022-10-30 15:37] #2297 closed

[2022-10-30 15:38] #2265 closed

[2022-10-30 22:07] YodaEmbedding commented on #2261
In my case, the host machine is on a local network within our organization. This is good because I can share a link to other members on my team. But this means other teams can also access it, which may not be desirable in certain organizations.

One way around this problem might be (optional) browser-cached user authentication and login page, similar to ClearML.

[2022-10-31 08:32] rubenaprikyan commented on #2189
Hey @YodaEmbedding !
The URL-query string feature has been shipped 🚀. Please check out the latest version.

The bookmark feature implementation is in progress.

[2022-10-31 16:38] VkoHov opened #2312 "The group property name isn't displayed in the images and audio tabs"
## 🐛 Bug

The group property name isn't displayed in the images and audio tabs on the run page.

### To reproduce

1. Go to the Run page.
2. Switch to the Images tab.(Be sure that there are already tracked images)
<img width="1070" alt="Screen Shot 2022-10-31 at 20 37 42" src="https://user-images.githubusercontent.com/43929589/199061074-f37009ed-792f-479f-a089-715228ef2c86.png">

### Environment

[2022-11-01 08:03] Pyrestone commented on #2270
@gorarakelyan is there a workaround to manually "end" these runs for now?

[2022-11-02 01:02] twni2016 commented on #2279
Hi @gorarakelyan I found that even when the `--ntask 1` (a single thread) for sbatch, the timeout error can also happen. Hope that aim could fix this issue, thanks!

[2022-11-02 09:26] Aonnghus commented on #2158
Any news on this issue?

[2022-11-02 13:44] alberttorosyan commented on #2158
Hey @Aonnghus! We are on the way to completely re-design the locking mechanism in Aim. The fix for the performance issue related to locks will be shipped along. We target to release the new version at the end of next week.

[2022-11-02 19:40] bsridatta commented on #2293
@gorarakelyan did you find time to look into why the runs are not discovered? Thanks

[2022-11-03 10:09] jangop opened #2316 "Pytorch Lightning Adapter expects versions to consist of `int`s"
The [Pytorch Lightning Adapter](https://github.com/aimhubio/aim/blob/15e394cc39b9def1a283f7e1ca7e6aac7a6d2027/aim/sdk/adapters/pytorch_lightning.py) in 3.14.3 extracts a version tuple from the version string. It expects all parts to map to `int`:

[code]

I noticed the problem when I received the following exception: `ValueError: invalid literal for int() with base 10: 'post1'`

I suggest using [`

[2022-11-04 03:07] YodaEmbedding commented on #2270
@Pyrestone I had this too. Not sure which one of these was the necessary one (probably `meta/progress` or `meta/locks`, I'm guessing), but try one of the following:
[code]

Then:
[code]

[2022-11-04 06:35] twni2016 commented on #2274
This issue is not important to me now, as I switch to ssh forwarding to view aim application. Feel free to close this issue.

[2022-11-04 06:37] twni2016 commented on #2279
Could we specify a longer timeout threshold in aim? This would be an easy fix.

[2022-11-04 07:14] rubenaprikyan commented on #2043
Hey @muellerzr!
We have been testing with many scenarios and detected an interesting behavior that maybe is helpful here as well.
The Colab uses service workers to cache rendered UIs(you can check this behavior by refreshing your notebook, you will see results immediately from the cache). The problem here is some browsers, Chromium, etc. disallowed third-party cache usage, and service workers are

[2022-11-04 09:00] YodaEmbedding opened #2320 "Query for undefined hparams"
## 🚀 Feature

Easily query for undefined hparams, via e.g.
[code]

### Motivation

When run does not contain a particular hyperparameter, it creates an `Undefined` value, e.g.

[code]

When trying to filter by this in the UI, one must do:

[code]

### Pitch

Make this discoverable using autocompletion:

[code]

...where `.is_undefined()` is a suggestion that pops up.

Note that this still may requ

[2022-11-04 09:28] YodaEmbedding opened #2321 "Better visibility for hidden indicators"
## 🚀 Feature

Better visibility for visible/hidden indicators.

### Motivation

Improves accessibility.

### Pitch

<img width="753" alt="aim_visibility" src="https://user-images.githubusercontent.com/721196/199939003-104be370-56d5-4199-bd30-666e0e0faa2c.png">

[code]

### Alternatives

Drinking more carrot juice.

### Additional context

N/A.

[2022-11-04 09:39] #2102 closed

[2022-11-04 09:41] YodaEmbedding opened #2322 "Searching for new field replaces previously selected fields"
## 🐛 Bug

Searching for new field replaces previously selected fields.

### To reproduce

1. Search for "run.active" and checkmark the box.
   <img width="441" alt="aim_choose_1" src="https://user-images.githubusercontent.com/721196/199941213-3363c6b3-9dc0-4be4-9f86-8d2f7f39dcfb.png">

2. Search for "run.e".
   <img width="443" alt="aim_choose_2" src="https://user-images.githubusercontent.com/7211

[2022-11-04 10:05] YodaEmbedding opened #2323 "Allow reordering of chosen fields"
## 🚀 Feature

Allow drag-n'-drop reordering of chosen fields for various input boxes such as "Params: topmost search bar" and "Figures: box caption".

### Motivation

Order matters since it affects UI presentation.

### Pitch

Drag n' drop to reorder "run.active" and "run.experiment" in the following image:

<img width="449" alt="aim_choose_expected" src="https://user-images.githubusercontent.com/

[2022-11-04 10:15] gorarakelyan commented on #2321
hey @YodaEmbedding, thanks for the suggestion. will prioritize it.

[2022-11-04 10:17] gorarakelyan commented on #2322
@YodaEmbedding this is a critical issue. Does it happen only in Figures Explorers or everywhere across the UI?

[2022-11-04 10:21] gorarakelyan commented on #2323
@YodaEmbedding how critical is this issue?
We are currently designing a new UI kit for better usability (more compact, high contrast). Will make sure to include this feature in it.

[2022-11-04 10:26] gorarakelyan commented on #2320
@YodaEmbedding makes a lot of sense.

@alberttorosyan seems a pretty low-hanging fruit, no? may there be any tech/UX blockers for this? 🤔

[2022-11-04 10:29] YodaEmbedding commented on #2323
Not too critical. It's only a minor inconvenience.

[2022-11-04 10:29] rubenaprikyan commented on #2322
Hey @YodaEmbedding! thanks for reporting
looking into this

[2022-11-04 10:38] gorarakelyan commented on #2323
@arsengit tagging you, so you are aware of this thread ))

[2022-11-04 10:52] Pyrestone commented on #2270
Hi @YodaEmbedding
Thanks for the suggestion.
I tried all 4 but the run is still shown as active for me.

Could it be that the locks are different because my aim is on an nfs location?
It says something about using soft lock files because of it.

[2022-11-04 10:57] YodaEmbedding commented on #2270
@Pyrestone

Ah, I think I also removed some of the relevant $RUN_HASH.softlock files from the .aim directory as well. I remember it was some combination of deleting and touching files that did the job.

[2022-11-04 11:03] Pyrestone commented on #2270
yes, that did work.

So i deleted the softlock file last.
I'll experiment on my other stalled run what specific one of these is required.

[2022-11-04 11:10] Pyrestone commented on #2270
minimal version seems to be something like:
[code]

[2022-11-04 14:03] VkoHov commented on #2321
Hey @YodaEmbedding, this is a great point. Thanks for the proposal!
Would this color contrast work for you? Thoughts?

<img width="805" alt="Screen Shot 2022-11-04 at 16 42 38" src="https://user-images.githubusercontent.com/43929589/199975239-67bb31f4-985b-48a6-907b-a56bbb08fa1e.png">

[2022-11-04 15:05] Natlem commented on #2302
I managed to solve it. For those, who would have similar issue in the future, here how I did:
`
$ openssl genrsa -out server.key 2048`
`
$ openssl req -new -x509 -sha256 -key server.key \
              -out server.crt -days 3650 -subj '/CN={DOMAIN_NAME}'
`

[2022-11-04 15:05] #2302 closed

[2022-11-04 15:21] sulan opened #2324 "Increase legibility of scatterplots with colour grouping"
## 🚀 Feature

I propose increasing the legibility of scatterplots with colour grouping using a different colour palette or the ability to enlarge the points on the plot.

### Motivation

Grouping by colour is a very convenient feature in the scatterplot tab. However, it is not always easy to differentiate between points of different colour.

I understand that there there is only so many colours yo

[2022-11-04 17:42] gorarakelyan commented on #2324
@sulan thanks for the suggestion! Enabling more colormap options might indeed be very helpful! Adding this to the roadmap.

@roubkar tagging you here as well, so you are aware of this thread *

[2022-11-04 17:51] gorarakelyan commented on #2270
@Pyrestone the shared script would properly finalize the runs. We took our time to explore/discover more cases. Currently working hard to release the fix asap!

[2022-11-04 17:53] gorarakelyan commented on #2274
@twni2016 sorry for a late reply. Glad there are no issues now.

[2022-11-04 17:53] #2274 closed

[2022-11-04 17:57] gorarakelyan commented on #2270
There might be need to remove respective locks in `.aim/seqs/locks/` as well

[2022-11-04 18:06] gorarakelyan commented on #2293
@bsridatta I locally run tested the logs and indeed no runs were displayed. Investigating the issue now.

btw do you use the remote tracking server or directly write to the storage?

If this is the case with remote server, could you pls try the latest stable version and see if the issue still appears (Aim v3.14.3)?
We actually applied core changes to the remote server, which is not released yet.
I

[2022-11-04 18:08] gorarakelyan commented on #2279
@twni2016 I guess yes.
@alberttorosyan the latest optimizations wrt indexing should solve this issue as well, no?

[2022-11-04 18:15] gorarakelyan commented on #2259
@vishalghor thanks. @mihran113 is currently investigating the issue. We will share more details and progress here soon.

[2022-11-06 20:27] mihran113 commented on #2303
Hey @vakker. Sorry for late response. Unfortunately the setup with `Unison` will result in corruptions if the `aim up` command is running. As from it's perspective the run is `dead`, cause there is no lock on it in the synced directory, so it'll try to finalize it automatically which will cause corruptions as it's still active actually.
As an alternative I can suggest you to use aim remote trackin

[2022-11-06 20:33] mihran113 commented on #2259
Hey @vishalghor. It is apparently the same issue that you've mentioned. We've struggled a lot to reproduce it on our side, no luck so far.
https://github.com/aimhubio/aim/issues/1297#issuecomment-1098978362
Could you please try this suggestion and see if it helps, so it won't block you further.
In the meantime I'll try to reproduce and find a fix.

[2022-11-07 07:52] alberttorosyan opened #2327 "Resource clean-up is not working when multiple `KeyboardInterrupt`s are raised"
## 🐛 Bug

By design multiple `KeyboardInterrupt` exceptions are handled by resource cleanup step. The cleanup is done in a worker thread, while `KeyboardInterrupt`s are sent to main thread. However, the mechanism is currently broken, 2nd Ctrl-C trerminates process without waiting for cleanup thread.

### To reproduce

1. Modify `aim/sdk/run.py` by adding sleep() in `RunAutoClean._close()` method.

[2022-11-07 10:27] hkang-vuno commented on #1965
I'm having the same problem.

[2022-11-07 14:51] bsridatta commented on #2293
No I do not use a remote tracking server .. its writing to .aim in the home directory of my remote machine.

The initial comment used nightly, but i runs I gave you were from stable release v13.4.1

I tried it from another user on the same remote machine and it worked on the first try.

aim runs ls shows the runs but nothing in the UI. I have uninstalled and removed .local/bin/aim and reinstalled

[2022-11-08 09:55] vakker commented on #2303
Thanks for the response, that's fair.
Is there a way to make `aim` more robust to these file corruptions? Currently if there's a single run that's corrupted, the whole database becomes unreadable, right?

[2022-11-08 22:51] vishalghor commented on #2259
@mihran113 I did try these suggestions but it didn't help in resolving the issue. Thank you for looking into this

[2022-11-09 08:52] timokau commented on #436
Here is an example on how tensorboard does it: https://github.com/wandb/wandb/issues/2202#issuecomment-846555487

It would be great to have similar treatment for infinite values.

[2022-11-11 10:01] rubenaprikyan commented on #2322
Hey @YodaEmbedding! The fix was released with v3.14.4.
Could you please check it out and let me know if still have an issue with this?

[2022-11-11 10:27] VkoHov commented on #2321
Hey, @YodaEmbedding, this feature was released with v3.14.4, please try it out and let me know if it works as expected.

[2022-11-11 17:02] bsridatta commented on #2293
Ok, so it was something to do with the pipenv virtual env.
Creating a new pipenv env solved but uninstalling and installing in the problematic env didnt work. No errors - aim ui cant discover runs.

But if this doesnt ring any bells on why even you cant open a non empty .aim in your machine, then we can close this ticket. But this is  a very weird issue.

[2022-11-11 22:48] ofermend opened #2342 "When aim server is killed, the client crashes"
## 🐛 Bug

I'm running the aim server as a remote centralized server. The client communicates with the server fine, but when the server crashes (for whatever reason) my client application also crashes with the following error:

WARNING - aim.ext.transport.rpc_queue -   Remote Server is unavailable, please check network connection: <_InactiveRpcError of RPC that terminated with:
	status = StatusCode

[2022-11-12 07:21] alberttorosyan commented on #2342
@mihran113 could you please take a look. As far as I recall, the tracking queue on the client side should handle such cases (if the server is not available block once queue reaches specified size) 🤔

[2022-11-14 06:49] alberttorosyan commented on #2316
Reopening automatically closed issue. Will close once new version is released.

[2022-11-14 10:38] bsridatta commented on #2180
I experience the same issue on chrome. The view crashes with 4 runs. Probably too many images are logged. I couldnt even reset the query as it crashes the second you click on image explorer.

I was able to select 2 runs in the run explorer and use the compare option to open the image viewer with just 2 runs and it worked fine. For my experiments, I can log with much lesser quality so will do that,

[2022-11-14 17:13] gorarakelyan commented on #2180
@bsridatta could you please share how many images you track per run? Do you track images for each batch? Are those images large in size?
Any detail would be very helpful to debug and resolve the issue. We have tested it for different scenarios and unfortunately haven't been able to reproduce the issue.

[2022-11-14 19:15] bsridatta commented on #2180
Sure @gorarakelyan , it is a bit too weird to understand when it breaks. Went from working fine to freezing (I guess at "searching over all runs") to working fine again.

I log 10 images every validation epoch (top 10 by loss), for 30 epochs. 300 images around 200Kbytes per run

As I mentioned the image explorer worked fine when enter the explorer by compare feature. Deleted few runs but same prob

[2022-11-15 06:40] hjoonjang opened #2347 "Bring all history w/o sampling by cli convert wandb"
## Proposed refactoring or deprecation

(Not sure if it's okay with this category: Feature suggestion instead..?)
In `aim/cli/convert/processors/wandb.py`, https://github.com/aimhubio/aim/blob/8441a58ac1e39b8cd5a5b802794c9c944effdfd4/aim/cli/convert/processors/wandb.py#L45
we've been trying bringing **SAMPLED** history of existing wandb metric logs.
I would carefully propose to bring **ALL** histo

[2022-11-15 07:55] Dong-Ki-Lee commented on #2097
Hello @alberttorosyan
I'm sorry for the late response.
As a result of testing with the dev6 you mentioned, it works well.

ps. test it after installing python3.10 on c7g, Amazonlinux2.

[2022-11-15 14:19] gorarakelyan commented on #2347
@hjoonjang thanks for the suggestion. It makes a lot of sense. I just left a comment wrt padnas integration under the submitted PR [here](https://github.com/aimhubio/aim/pull/2348#issuecomment-1315374113). Could you please take a look at it? 🙏

[2022-11-15 14:20] gorarakelyan commented on #2347
@tmynn tagging you here, so you are aware of this thread.

[2022-11-15 17:06] gorarakelyan commented on #2293
@bsridatta hmm, very weird. Will test it out specifically for pipenv environments. Might there be issues with dependency incompatibilities? But then neither SDK should have functioned nor UI 🤔

[2022-11-16 04:48] twni2016 commented on #1899
@roubkar Follow-up question on deleting a lot of runs:

Since I have many (~1000)  runs on the remote server, I found I cannot archive / delete them in UI through ssh tunnel. So I decide to do this using SDK in the remove server. But I don't know the exact way to query the runs I want to delete. The question is, how to get the `run_hash` for a run? Then I can delete it by calling `repo.delete_run(

[2022-11-16 09:52] vakker commented on #2303
@mihran113 cool, thanks for looking into this!

[2022-11-16 09:52] #2303 closed

[2022-11-16 13:07] alberttorosyan commented on #2288
@arturspeiser did you have a chance to test the fix? Can we mark the issue as resolved?

[2022-11-16 14:10] VkoHov commented on #2180
Hey @bsridatta. Thanks for sharing the details. Will debug further and try to reproduce the issue. Will get back to you soon.

[2022-11-16 15:25] arturspeiser commented on #2288
Yes, can be closed, thanks again.

[2022-11-17 10:25] roubkar commented on #1899
Hey @twni2016, you can delete multiple runs like this:
[code]

[2022-11-17 19:13] Castavo opened #2358 "Allow scale to be changed on a per-chart basis"
## 🚀 Feature

It would be very neat if one could change the axis scales (linear or log) for only one chart at a time.

### Motivation

That would prove especially useful when one of the metrics used happen to be negative. I have an exponential metric (which would be neat to see in y log-scale) and a negative metric, which I do not want to apply log-scale to.

### Pitch

Ideally it would be lovely

[2022-11-17 19:21] Castavo opened #2359 "Allow for zooming with a shortcut"
## 🚀 Feature

It would be really nice to have a feature that resembles the one of TensorBoard: `alt + scroll wheel` allows for zooming inside chart, and then `alt + drag` allows for panning.

### Motivation

This would allow to use the charts much more easily, especially when there are several on screen.

### Pitch

It would be very nice to have a way of zooming rapidly on charts, like what there

[2022-11-17 19:25] Castavo opened #2360 "Dark mode for Aim UI"
## 🚀 Feature

Please give us the possibility for a night mode in the UI.

### Motivation
"I'm always frustrated when I get a migraine from using Aim."

### Pitch
If you toggle a switch, the background turns black and the foreground colors adapt.

### Alternatives

### Additional context

[2022-11-17 21:07] gorarakelyan commented on #2360
@Castavo thanks for the suggestion! The new UI kit with an upgraded look is in progress at the moment. We have plans to add support for night mode as well.

[2022-11-17 21:19] gorarakelyan commented on #2358
@Castavo makes a lot of sense. Are there any other chart controls, besides log scale switcher, that you would like to change per chart basis?

[2022-11-17 21:43] gorarakelyan commented on #2359
I guess this is a bit related to #431.

[2022-11-17 23:12] kumarshreshtha opened #2361 ""Show Table diff" does not compare list/tuple type columns."
## 🐛 Bug
When comparing runs, the "Show table diff" button keeps columns which have list/tuple entries even when the items inside the list are same.

### To reproduce

Run this snippet twice:

[code]

Here's the run in the UI:
![image](https://user-images.githubusercontent.com/23312942/202578906-fe2cb62e-b1e4-409b-a646-854c9a4ddfcd.png)

and the result after "Show Table diff":
![image](https://use

[2022-11-18 07:03] roubkar commented on #2361
Hey @kumarshreshtha, thanks for reporting this issue.
This functionality is broken in Runs, Params, and Scatters Explorers, but works as expected in Metrics and Images Explorers.
Would you like to open a pull request to resolve this issue?

[2022-11-18 12:50] kumarshreshtha commented on #2361
yes, on it :)

[2022-11-18 20:33] mihran113 commented on #2129
Hey @PeterSulcs! Sorry for such a long delay. Could you please try out this version of `aim` and see if it successfully collects data for MIG GPU instance?
[code]

[2022-11-19 16:31] bsridatta opened #2367 "Fastapi and starlette version conflict with fiftyone"
## 🐛 Bug

I am using fiftyone for data analysis along with aim. And there seems to be some conflicts with fastapi dependencies (starlette).
And I noticed in aim setup.py that max fastapi is set to 0.68 (from last year). It would be nice newer version of fastapi could be used.

Thanks!

Error on `aim up`:

ERROR:    Exception in ASGI application
[code]

[2022-11-20 20:10] NTUYWANG103 opened #2368 "Using code add tag occurs error"
Using code add tag occurs error. In UI, the tag has no color if adding by code, and get error when get in specific runs

'<class 'pydantic.error_wrappers.ValidationError'>' exception raised!

[2022-11-20 21:33] ju2ez opened #2369 "Integration with Ray Tune"
## 🚀 Feature

Ray (tune) is a popular hyperparameter tuning library with strong focus on parallelization and multi-gpu training.

### Motivation

Adding a powerful metric tracker next to the (default) tensorboard tracker to ray would be very valuable.

As far as I can tell adding a Callback for logging should do the job.

[2022-11-21 07:50] alberttorosyan commented on #2368
Hi @NTUYWANG103 ! Seems this issue is related to https://github.com/aimhubio/aim/issues/2267. May I ask you to share which version of Aim you're using? Also is there a stack trace available?

[2022-11-21 08:16] NTUYWANG103 commented on #2368
thanks for reply, I am using 3.14.4. When I use code to add tag, there is no color and get this error. If I manually add edit and add Color for this tag, no bug occurs
 [Image.png] [Image.png]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Albert Torosyan ***@***.***>
Sent: Monday, November 21, 2022 3:50:28 PM
To: aimhubio/aim ***@***.***>
Cc: #WANG YUXI# ***@**

[2022-11-21 10:57] gorarakelyan commented on #2367
If I remember it right the upper limitation was set, as fastapi 0.69 (based on starlette 0.16) introduced some breaking changes. What was the exact reason @alberttorosyan ? It would be great to have deps versions as loose as possible.

[2022-11-21 11:10] gorarakelyan commented on #2369
Thanks for the suggestion!

Seems we need to add a similar integration to this https://github.com/ray-project/ray/blob/master/python/ray/tune/logger/tensorboardx.py

@ju2ez have you already integrated Aim in your project with Ray Tune?

[2022-11-21 11:41] ju2ez commented on #2369
@gorarakelyan exactly, I think so too.

Yes, I have a first working callback but it needs a bit of more work and I would need some support to integrate it properly to aim as I just started to look at this repo.

[2022-11-21 15:38] alberttorosyan commented on #2367
the reason is the support of Python 3.6. we plan to drop it with aim `3.16` release, along with some limitations.

[2022-11-22 16:11] Natlem opened #2374 "UI hangon searching for runs"
## 🐛 Bug

Unable to display runs or any kind of information from Aim running on a remote server.
The /runs page is stuck on "Searching over runs..."  with "34 of 34 checked ------ 33 matched run(s)"
There's an error in the console log:

server-side aim ui errors:

### Environment

- Aim Version: 3.14.3
- OS: Linux

[2022-11-22 16:31] mihran113 commented on #2374
Hey @Natlem! Could you please share what was the query that failed?

[2022-11-23 06:11] cceyda commented on #1965
I have a similar problem even the simple docker command with no mounts as specified in the docs isn't working.
`docker run --publish 43800:43800 aimstack/aim`
I mean the command runs without error:
[code]
but when I go to localhost:43800 I see `page not found`. the [dockerfile](https://github.com/aimhubio/aim/blob/main/docker/Dockerfile) looks simple enough so I don't know why it isn't working.

I

[2022-11-23 06:23] cceyda commented on #1965
Also for more context my usecase is similar to @ilisparrow so far.
I have made a docker-compose file like below:
(I'm using a bind volume because I was just testing in local but could also be a named volume(docker managed))
[code]

[2022-11-23 06:50] alberttorosyan commented on #2368
@NTUYWANG103 seems the images are not uploaded to Github. May I ask you to share the stack trace as text?

[2022-11-23 06:57] alberttorosyan commented on #2320
@YodaEmbedding it seems the difference with the current state is for hparams which equal to `False`. For example, now
`run.hparams.parsecs_per_kessel_run == False`
and
`run.hparams.parsecs_per_kessel_run   # not defined`
are same in the context of the query.
Just want to make sure we do not change the behavior in any way which might affect existing queries 🤔

[2022-11-23 06:58] #2288 closed

[2022-11-23 10:24] gorarakelyan commented on #2369
@ju2ez awesome! We would be happy to help with submitting the integration to Ray Tune. Please feel free to ask any question you have. 🙌
Also could you share how the current version works? what does it track?

[2022-11-23 10:32] Castavo commented on #2359
@gorarakelyan yes, part of what I described can be found in #431
Should I close this issue and comment on #431 instead ?

[2022-11-23 10:35] Castavo commented on #2358
Yes ! I was also thinking about a per-chart smoothing policy, my training metric is very noisy and needs the smoothing, while the validation metrics suffer from it, so I have to alternate between smoothing on and off to see the curves clearly...

On another, it could be nice also to apply logs or smoothing depending on a field, like `metric.name` or `metric.context.subset`.

[2022-11-23 14:26] Castavo opened #2378 "Sort columns in Params Explorer"
## 🚀 Feature

It would be very nice if we could have the metrics column not be in the middle of the parameters columns !

### Motivation

This would make the Params Explorer more informative and easy to use. Today, whenever you add a column, it shows on the right. If you want to use the "Color Indicator" feature on your metric, you have to deselect your metric and select it back.

### Pitch

I wou

[2022-11-23 14:27] mihran113 commented on #2072
The reason source installation fails is that python sets paths in incorrect order, and the system path is set before the build installation path:
Output of `sys.path` during installation
[code]
Nothing to do here on our end.

[2022-11-23 14:30] mihran113 commented on #2072
If source installation fails with a following error(due to `Cython` version):
[code]

Please uninstall the existing `Cython` version, try the installation once again, and after success re-install the `Cython` version that was previously used, as `aim` uses `Cython==3.0.0.a9` as only build time requirement.

[2022-11-23 14:30] #2072 closed

[2022-11-23 14:39] Castavo commented on #1971
Hello I'd like to way in to say this feature would be very appreciated !
It would also make the "Params Explorer" a more powerful tool !

[2022-11-23 16:13] Natlem commented on #2374
I think this should be all. Thanks for the great support :)

[2022-11-24 06:54] roubkar commented on #2378
Hey @Castavo, thanks for opening this issue.
Relates to https://github.com/aimhubio/aim/issues/1596

[2022-11-24 07:04] roubkar commented on #2374
Hey @Natlem, the PR which resolves the issue related to characters encoding in Aim UI has been merged and will be released with the next version.

[2022-11-24 14:14] mahnerak opened #2383 "Multi Flag support"
The check-in system we have now defines flag names as a way of passing messages.
However, the throttling enabled to decrease the number of unnecessary filesystem api calls (`touch`es in this case) affects all the logical check-ins.
In order to make check-in system usable to store heartbeats, alert notifications, etc. we need to isolate throttling based on their flag names.

[2022-11-24 14:47] #2383 closed

[2022-11-24 17:03] #2374 closed

[2022-11-25 07:58] andife opened #2384 "Integrate image logging with pytorch lightning"
Hello,

I want to save images during the training process with pytorch lightning.
I'm wondering how this could best be implemented, or how to best integrate. As a pl.LightningModule with another function?  Has somehow for this a simple example?

Thank you

[2022-11-25 11:43] alberttorosyan opened #2385 "Add ability to register and execute callbacks at certain execution points"
## 🚀 Feature

Many things can go wrong during ML training (incorrect driver versions, plateaued metrics, overfitting, etc.) that could result in wasted GPUs and time.
Having a way to define custom callbacks to be executed at any point during ML training would allow to notify users and even automatically react to such issues.
Such system should provide the following key features:
- Define types of

[2022-11-25 11:51] alberttorosyan opened #2386 "Robust locking mechanism for Aim runs"
## 🚀 Feature
Make the resource locking mechanism of Aim more robust.
Provide ability to forcefully clear/acquire lock for the given Run, in cases when the training process was terminated non-gracefully.
Fix the issue with multiple concurrent Runs.

### Motivation

The existing locking mechanism has multiple issues and is prone to errors. One of the most problematic parts is the mixed usage of Unix

[2022-11-25 12:03] alberttorosyan commented on #2384
Hi @andife! Thanks for the question.
Aim integration with PL is based on `pl.Logger`. The simplest way to log images would be by accessing the `experiment` property of the aim_logger:
[code]

The more elegant way, however, is to extend the integration by deriving from `aim.pytorch_lightning.AimLogger` and implementing functionality in the respective callback method.

[2022-11-25 16:51] ju2ez commented on #2369
@gorarakelyan Thanks a lot.

So far I have the callback implemented and I am able to track numeric metrics.
What's missing is the tracking of images audio, etc.

In general, the version works great.

[2022-11-28 23:32] davzaman opened #2393 "Segmentation Fault (core dumped) Error after installating into existing env"
## 🐛 Bug

After a fresh installation of `aim` onto 2 existing anaconda environments on my machine upon trying to use any command (e.g., `aim version` or `aim init`) I get `Segmentation fault (core dumped)` as an error.

### To reproduce
[code]

### Expected behavior
I expect it to print a version like `Aim v3.15.0` (for the version command) / not break on any basic command.

### Environment

- Aim

[2022-11-29 04:29] SGevorg commented on #2393
Hi @davzaman thanks for sharing this. Does this happen with only the latest release?
marked this critical-urgent. @alberttorosyan please take a look as soon as possible.

[2022-11-29 06:09] alberttorosyan commented on #2393
@davzaman may I ask you to try the following in the same environment?
```import aimrocks```

just want to localize the issue to make sure we're not looking in wrong direction.

[2022-11-29 11:40] m-toman commented on #2267
Just wanted to chime in saying that I also encountered this when doing add_tag in 3.14.1

Looks like this, when I comment the add_tag it works for this run.
[code]

For runs where I do add_tag I get:

[code]

Perhaps relevant: I use a remote AIM server.

(BTW I love your work, switched from our previous solution in one day without issues)

[2022-11-29 14:48] KaroMourad opened #2394 "Incorrect empty-illustration message in Audios explorer"
## 🐛 Bug

Audios explorer shows an incorrect message, when there is no tracked data, by mentioning the Figures explorer.

### To reproduce

1. do not track any data
2. open Audios explorer
3. check the empty-illustration message

### Expected behavior

Show a correct message for every explorer page, separately.

### Environment

- Aim Version (e.g., 3.15.0)

[2022-11-29 15:59] mihran113 opened #2397 "Add ability for remote tracking server to scale up"
## 🚀 Feature

When increasing the number of parallel clients, `aim server`s bandwidth is not enough to handle it, and because of that client side scripts are slow to execute as well. In order to address this, add an ability for remote tracking server to use multiple workers to be able to handle multiple parallel clients at a time.

### Motivation

This will allow to server more clients at a time.

[2022-11-29 16:02] mihran113 commented on #2397
Associated issues that have been addressed during the implementation:

https://github.com/aimhubio/aim/issues/2131
https://github.com/aimhubio/aim/issues/2126
https://github.com/aimhubio/aim/issues/2126

[2022-11-30 10:13] KaroMourad commented on #1510
Hey @gerardsolutions ,

Added chart legends to Metrics explorer.

Have been shipped with the v3.15.0 release.
To upgrade please run `pip install aim --upgrade`.

[2022-11-30 13:59] kmartirosyan opened #2398 "Add another workflow."
## Proposed refactoring or deprecation

Aim K8s Demo environment does not have an automated CI/CD solution. So we have created another workflow which will be triggered from a parent workflow and will set the newly created image tag in the Aim Helm Chart's values.yaml. Then, the new image will be deployed to the Aim K8s Demo cluster.

### Motivation

Have a fully automated CI/CD for the Aim K8s Dem